[2017-06-22 09:25] LeLocTai opened #14 "Description in readme.md"
It would be great if someone can add some description to the readme.md file so people can know what this do without googling

[2017-06-22 16:29] baflink commented on #14
I completely agree with you on that. I will need to come up with a very detailed readme for this. I'm also willing to take some suggestions on what should be listed in the readme :)

[2017-06-23 06:47] LeLocTai commented on #14
Other than a brief description, I think it only need a minimal runnable example. Everything else can be in the docs, just put a link to it.

I don't think I can help much since I know next to nothing about Forge, that why I'm making this issue :)

[2017-06-23 16:29] baflink commented on #14
Haha, good point. I'll see if there is already an example in the docs that I can copy over to the readme so that people can quickly see how it works :)

[2017-06-26 17:36] lb4business opened #17 "NetworkDiscovery Android + Win Editor"
FNR 23.02, Win7 64, Unity 5.6
Editor can't find server on android device and vice versa. But editor can find server on win build running on the same machine and 2 android devices can find each other

[2017-06-27 18:52] baflink commented on #17
Can we get a separate issue opened up for the second issue listed here so that we can track/fix them independently?

[2017-06-27 18:54] lb4business opened #18 "Single run NetworkDiscovery issue"
FNR 23.02, Win7 64, Unity 5.6
After disconnect editor can't find server on win build running on the same machine again, same problem with 2 android devices. After restarting the game the problem disapears, so NetworkDiscovery works just one time.

[2017-06-27 18:54] lb4business commented on #17
@baflink of course. Done :)

[2017-06-27 19:25] baflink commented on #14
I've updated the description :). Let me know if there needs to be more information or if this covers it for now.

[2017-06-27 19:25] #14 closed

[2017-06-28 04:59] LeLocTai commented on #14
I think this is ok.  Thank you for sharing such a wonderful library :)

[2017-07-02 04:18] baflink opened #23 "Add a recompile button to NCW home screen and menu"
Users should be able to recompile the NCW generated source without having to open an existing class and clicking compile. They should also be able to recompile the code through a menu item so that they don't even have to open up the NCW to recompile

[2017-07-04 01:31] scc172fly opened #25 "About Forge Networking Remastered Roadmap"
Hello! This is a great project! Give five stars!
Will it go to a game server engine later?
For example, add some features.
Database,
File system,
Log system,
Utility class,
, etc.
I can't see the future of UNET, the route has basically stopped. And now I find this great project! Very active!

[2017-07-04 21:14] g-klein opened #26 "Images links are broken in the firewall setup docs"
Images links are broken in the firewall setup docs:
https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blob/develop/docs/mkdocs/docs/MasterServer/windows-server-firewall-setup.md

[2017-07-05 18:37] baflink commented on #26
This is because the docs are generated at the [Docs URL](http://docs.forgepowered.com/) however, I've updated all the URLs to use the raw GitHub links so that they work here on GitHub as well. Will close this once develop is committed

[2017-07-05 18:47] baflink commented on #25
Thanks for the support! :)

Could you elaborate on the **game server engine** part?

We do have a logging system but it doesn't get pushed into a cloud server. You could modify it to do so though:  [Docs info](http://docs.forgepowered.com/network-logging/#network-logging)

What are you looking for in a **utility class**?

As for database you can use any 3rd party database system you would like sin

[2017-07-11 16:33] spectre69 opened #27 "We have no option to send a client -> server packet without using low-level api buffers"
### Version Number and Operating System(s)
Remastered
### Expected behavior
  NetworkManager.client.connection.Send(UnetGameRoom.AccessMsgType, new StringMessage(access.Token));
### Actual behavior
None
### Steps to reproduce
7 years of network programming

[2017-07-13 15:49] Fashdey opened #29 "[NCW] Removing Argument from RPC swaps naming"
When using the Wizard for adding/editing RPCs
I've discovered that if you have multiple arguments, and remove one which has one underneath it, the name of the removed will overwrite the one underneath.

### Version Number and Operating System(s)
Newest Dev Branch
Build Date: (11/07-17)

### Expected behavior
Having an RPC with 3 Arguments

Arguments
Slot: Name [Type]
1: A [int]
2: B [Vector3]
3: C

[2017-07-19 16:18] baflink opened #31 "Move static BMSByte data from UDPPacketSequence"
### Version Number and Operating System(s)
Develop branch (all operating systems)

### Expected behavior
The static data field should be per-networker and not global

### Actual behavior
It is a global variable and so it does not work well with multiple threads

### Steps to reproduce
No steps required

[2017-07-21 06:27] baflink opened #32 "NetWorker event delegates need a sender"
### Version Number and Operating System(s)
Latest develop branch, all operating systems (core)

### Expected behavior
Events that are called from networkers should have the sending networker as an argument since it is very possible to have many networkers running at the same time

### Actual behavior
Events are fired and forgotten with no trail to the sender

### Steps to reproduce
Any networker e

[2017-07-21 07:43] RYG81 opened #33 "what about some tutorial for 0 to working game?"
It would be great if you guys invest little time on making some 0-to working game tutorials. It will help understand full process.

[2017-07-21 15:33] miketheprogrammer commented on #25
@baflink : As far as game server engine, i think what they mean is, will it be something that can tie in with like an RpgMaker or DungeonMaker or insert other easy tool here, and provide an E2E click to make everything happen solution.

@scc172fly Networking libraries in general should stay away from stuff like that IMO. It drains valuable development time from the main need, a networking library.

[2017-07-21 15:36] miketheprogrammer commented on #25
@baflink : I have long believed games would benefit from open source and sharing of things youve done. Maybe inspiring a forge-* framework would be a good start for these guys that want an In-The-Box ( but sorta outa ) solution.
I could see someone on the discord creating a:
forge-serialize-to-disk
forge-load-from-disk
forge-logs-to-logstash
forge-serialize-to-mongodb
forge-load-from-mongodb

etce

[2017-07-21 18:02] baflink commented on #33
Thanks for the feedback. We've gotten requests similar to this so we'll be working on some more "from 0" kinds of tutorials to get people started outside of using the provided options.

[2017-07-24 01:13] baflink opened #35 "Network Contract Wizard"
### Version Number and Operating System(s)
Latest develop branch on all systems

### Expected behavior
When you open a class to view in the NCW and then go back and open another, you should be able to see all RPCs and fields without any missing

### Actual behavior
When you open a class to view in the NCW then back out to view another various RPCs are not listed that are actually on the class.

##

[2017-07-26 11:21] RYG81 commented on #33
Thanks

[2017-07-26 23:08] mcguinnessdr opened #37 "Calling RPC with Receivers.All on server does not call it on server"
### Version Number and Operating System(s)
Latest Develop branch, commit cad82c4726ced541b2e40f26f8d20db205a4e744
Unity 2017.1.0f3
Windows 10

### Expected behavior
RPC should be called on server, as well as clients.

### Actual behavior
RPC is only called on clients.

### Steps to reproduce
Call `networkObject.SendRpc(RPC_NAME, Receivers.All)` on server.  Clients will receive RPC, but server will

[2017-07-27 00:42] mcguinnessdr opened #38 "[NCW] Deleted classes still compile behavior when hitting "Save & Compile""
### Version Number and Operating System(s)
Latest Develop branch, commit cad82c4
Unity 2017.1.0f3
Windows 10

### Expected behavior
Deleted classes should not compile a new "behavior" script.

### Actual behavior
Deleted class's "behavior" script gets compiled.

### Steps to reproduce
Open NCW.
Delete a class.
Open another class.
Hit "Save & Compile".
A "behavior" script is created for the previou

[2017-07-29 23:41] theWill opened #39 "iOS build fails - TCPClientWebsockets.cs"
### Version Number and Operating System(s):
latest develop branch as of July 29 2017

### Expected behavior:
building for iOS works

### Actual behavior:
building for iOS fails with Mach-O linker error pointing to problems with:
TCPClientWebsockets_ForgeConnect_m3300101986 ();
TCPClientWebsockets_ForgeWrite_m500850475 ();
TCPClientWebsockets_ForgeClose_m3985811385 ();

### Steps to reproduce:
buil

[2017-07-30 03:36] theWill commented on #39
Android build fails similar to above when using scripting backend IL2CPP.

[2017-07-30 05:33] lb4business opened #40 "Master server is not working"
### Version Number and Operating System(s):
Hosting: Win Server 2012. Clients - Editor (unity 5.6) /Win build (win7) /android build

### Expected behavior:
Connects as in local network

### Actual behavior:
Method Connected(NetWorker networker) is firing, but i cant see networked objects and send/recieve any data

### Steps to reproduce:
1) Create empty project
2) integrate FNR, set Master Server

[2017-07-30 05:40] lb4business opened #41 "Nat Hole Punch server is crashing"
### Version Number and Operating System(s):
Nat Hole Punch server fro develop branch, Windows Server 2012

### Expected behavior:
Works without crashes

### Actual behavior:
Crushes after 2 connects

### Steps to reproduce:
run NAT, connect couple of times

#### [Optional] Discord Username:

[2017-07-30 05:42] lb4business opened #42 "Master Server and NAT consumes a lot of processing time"
### Version Number and Operating System(s):
Master Server and NAT from develop branch, Hosting: Windows Server 2012 / Ubuntu / Windows 7

### Expected behavior:
Dont consume so much processing power

### Actual behavior:
100% core load

### Steps to reproduce:
Run.

#### [Optional] Discord Username:

[2017-07-31 10:58] Fashdey opened #43 "Feature Request! - Recompile All (If upgrading from older FNR generated code can make issues)"
Tl;dr - Make a Recompile all and it should work flawlessly!

### Version Number and Operating System(s):
All is related to DevBranch
(Old)Build Date: 11/07-17
(New)Buld Date: 31/07-17
Unity 2017

### Expected behavior:
No issues in running the game with network capabilities, after FNR Upgrade

### Actual behavior:
Clients may get a wrong cast error on Generated code

[code]

Mentioned line is in t

[2017-07-31 18:39] baflink commented on #40
Are you using the master server from the develop branch for this?

[2017-07-31 18:42] baflink commented on #42
Seems like a threading issue, need to make sure to relieve the CPU on the various threads.

[2017-07-31 18:45] baflink commented on #31
Now in the develop branch

[2017-07-31 18:45] #31 closed

[2017-08-01 01:00] mcguinnessdr commented on #37
I've narrowed this down a bit.  I am calling the RPC immediately after instantiating the object, or in `networkObject.networkStarted`.  Calling a non-targeted RPC in either of these places will fail, but calling a targeted RPC will succeed.  I'm going to look at how these two cases are handled differently and see if I can find a fix.

[2017-08-01 21:17] baflink opened #47 "Setup object before NetworkStart but do actions after"
### Version Number and Operating System(s):
Current develop branch on all versions

### Expected behavior:
Object should be created for the networker but actions should be executed after `NetworkStart`. See:  https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/46/files

### Actual behavior:
Both are done after `NetworkStart`

### Steps to reproduce:
N/A

[2017-08-02 05:48] lb4business commented on #40
Yep, FNR, Master and NAT - all from develop branch

[2017-08-02 17:45] #47 closed

[2017-08-02 17:54] baflink commented on #37
Issue creator has confirmed that this issue is resolved if the RPC is called inside of `NetworkStart` after creation (which should be intended behavior). This is resolved by issue creators pull request:  [](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/46)

[2017-08-02 17:54] #37 closed

[2017-08-04 00:34] Espii opened #48 "Deleted NetworkObject in NCW keeps coming back."
1. Create TestNetworkObject in the NCW.
2. Press trashcan next to TestNetworkObject to delete
3. Open any existing networkobject and hit "Save & Compile", or create a new networkobject.
The script for TestNetworkObject will be generated even though it has been deleted and will continue to do so every time I make a change to NCW

Found a temporary fix from Brent on discord where if i delete the fil

[2017-08-04 23:50] baflink commented on #48
Found out that this was a duplicate of #38

[2017-08-04 23:50] #48 closed

[2017-08-04 23:50] baflink commented on #38
More info if needed from duplicate ticket: #48

[2017-08-06 23:27] theWill commented on #18
yep, experienced this exact bug

my details:
Lan discover bug - works on launch fine - when client disconnects from any server (keeping the application open) and go back to my menu screen to try to search and find another host (no results are returned). I tried reregistering the event but no luck. Relaunching the application and it works as expected.

[2017-08-07 04:17] baflink opened #49 "Add disposed exception to re-connect request"
### Version Number and Operating System(s):
Current develop (v24)

### Expected behavior:
When a user disconnects a `NetWorker` they should not be able to use it to connect again

### Actual behavior:
Causes a crash because of a thread due to disposed objects

### Steps to reproduce:
Connect with a `NetWorker` then disconnect, and connect again with the same object instance

[2017-08-07 04:29] #49 closed

[2017-08-07 04:52] #32 closed

[2017-08-07 04:54] #26 closed

[2017-08-07 05:13] #18 closed

[2017-08-07 05:14] baflink commented on #18
Should be resolved with this commit:  https://github.com/BeardedManStudios/ForgeNetworkingRemastered/commit/0946b50ddfc17e9276fdcd254391cd90a18c758a

[2017-08-07 17:58] baflink opened #51 "[NCW] Arrows in fields/arguments overwriting because Unity"
### Version Number and Operating System(s):
Latest develop branch on all operating systems

### Expected behavior:
When you click the arrows to change the order of arguments or fields, it should move the fields and the names of the fields should remain the same.

### Actual behavior:
Clicking on the move arrows in the NCW overwrites the text in the field when that text box is highlighted. This is

[2017-08-07 19:42] Epsiloncool commented on #51
I think it would be better to simple redraw a NCW window completely. It will fix this and may be any other issues with redraw.

[2017-08-08 01:19] theWill opened #52 "Lan Discovery still not working - build provided"
### Version Number and Operating System(s):
latest develop as of Aug 7 2017

### Expected behavior:
as client connect, disconnect, then issue lan discovery works again to connect.

### Actual behavior:
as client can connect, disconnect, but then cannot reconnect again using lan discovery

### Steps to reproduce:
download build here:
https://app.box.com/s/0nk43a9xl2jiol9d2cp2dibz3qu2bn1q

unzip
new

[2017-08-08 01:22] theWill commented on #52
Files of Note:
ConnectionManager.cs has the landiscovery event code
GameManager has my copy of the MultiplayerMenu client/host code
MatchMenuManager has the disconnect code in returnToTitle()

[2017-08-08 22:32] baflink opened #53 "Add note in docs for Profiler causing RPC slowdown"
From @mcguinnessdr:

On another topic, if anyone is experiencing an issue with RPCs lagging, then being called all at once, make sure "autoconnect profiler" is turned off in your build settings....

[2017-08-09 16:46] BrentFarris opened #55 "Delay finalize call in RemovePlayer method"
### Version Number and Operating System(s):
Latest Master branch

### Expected behavior:
There use to be a sleep for 500ms when testing, instead of doing that the `FinalizeRemovePlayer` method should be moved to a thread and delayed on that thread since it is called on the server

### Actual behavior:
Potential that the client doesn't get the disconnect message

### Steps to reproduce:
Disconnect

[2017-08-11 22:08] baflink commented on #42
Fixes on develop

[2017-08-11 22:08] #42 closed

[2017-08-13 19:21] #55 closed, assigned to BrentFarris

[2017-08-13 19:21] baflink commented on #52
I'm going to close this. If you still have issues, please let me know @theWill. We can re-open this ticket

[2017-08-13 19:21] #52 closed

[2017-08-13 19:26] theWill commented on #17
@lb4business can you retest with the latest develop branch. I think this issue is resolved now.

[2017-08-14 02:46] jarjin opened #59 "NetWorker recive a large package in TCP mode error bug!~"
hi author，In NetWorker.cs , if Server send to client a very big userdata，package size more than client recive buff size,  the package will split two small package，and OnMessageReceived function will post error，Please fix it。

very thanks ！！！

[2017-08-14 03:57] SmiggsGDog commented on #55
Fix appears to have broken cube forge example.
Repo - start server, connect client, disconnect client. Player count will continue to reduce perpetually.

[2017-08-14 19:53] baflink opened #61 "Update Asset Store to .dll only project"
This will get rid of any copy issues. If people want to get the source code they can get it from GitHub.

[2017-08-14 21:13] Aranir commented on #39
I also encountered an error while building for iOS (using the first tutorial project):

[code]

Is that related to the same problem or should I create a new issue for that?

Discord Username:
occuros

[2017-08-14 21:15] theWill commented on #39
yea, this is exactly the same issue I encountered.

On Mon, Aug 14, 2017 at 2:13 PM, Roger Küng <notifications@github.com>
wrote:

--
Will Supinski
Sr. Software Engineer
503-808-1268

OpenSesame® | 20,000+ Courses. Available Instantly.

[2017-08-14 21:36] baflink commented on #59
Can you work on UDP for now so that you don't have any blockers. UDP and TCP are easy to switch between so you can easily go back to TCP once this is fixed.

[2017-08-14 21:40] baflink commented on #53
Fixed by @NuclearRasberry's pull request https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/60 so it will be in the next build.

[2017-08-14 21:40] #53 closed

[2017-08-15 01:04] jarjin commented on #59
Only so ， thank very much!~

[2017-08-15 15:10] baflink commented on #39
We can actually pre-processor out the `TCPClientWebsockets` class when building iOS or Android since the class is not needed.

[2017-08-15 15:10] baflink commented on #61
It has been submitted

[2017-08-15 15:10] #61 closed

[2017-08-15 15:13] Aranir commented on #39
Inside the'ServerBrowser.cs file in the Refresh() method under  client.textMessageReceived

[code]

I tested it for android and iOS and for both builds it works.

Shall I make a fork and implement the change?

[2017-08-15 15:20] baflink commented on #39
@Aranir That would be awesome. Just send up a PR and we can get that change in.

[2017-08-15 15:40] baflink commented on #39
Fixed by PR:  https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/62

[2017-08-15 15:40] #39 closed

[2017-08-16 06:36] baflink commented on #40
I successfully connected on the latest master branch

[2017-08-16 06:36] #40 closed

[2017-08-16 07:33] lb4business commented on #17
@theWill Hi! I'll try to test it untille the end of the week

[2017-08-16 12:08] BrianWiz opened #66 "sendTransform boolean not working"
### Version Number and Operating System(s):
Forge v24
Windows 10

### Expected behavior:
- if `sendTransform = true` upon instantiation, the clients should receive the transforms immediately.
- if `sendTransform = false` the clients should not receive the transform.

### Actual behavior:
If `sendTransform is true`: when an object is instantiated on a client, it spawns at 0,0,0 and then quickly sna

[2017-08-16 12:14] BrianWiz commented on #66
Just a side note, I first noticed this a couple days ago and shrugged it off as not a big deal. My initial player spawns for some reason were always set to 0,0,0

[2017-08-17 06:33] theWill opened #67 "LAN Discovery - Android running on chromebook"
low priority bug but interesting...

### Version Number and Operating System(s):
latest develop

### Expected behavior:
looks like forge should work mostly the same but connecting via LAN discovery may require a change per this link:
https://developer.android.com/topic/arc/index.html#network

### Actual behavior:
Lan discovery fails because Chromebooks run the entire Android OS in a container.

##

[2017-08-18 17:56] baflink opened #70 "Master server not disconnecting properly"
### Version Number and Operating System(s):
Latest Master branch

### Expected behavior:
When you play in unity then stop playing the server should be removed from the master server

### Actual behavior:
When you play and then stop playing then the server is not removed from the master server

### Steps to reproduce:
Setup master server
Turn on logging in the master server
Play in editor as server

[2017-08-18 17:58] pointcache commented on #70
That is not what i said tho, i said that while i have a server in build running.. ok
1. I build, run as host
2. can see server in master server
3. now press play in editor
4. press stop
5. server now dissapears from master, as if i closed the host, but the host is still running!

[2017-08-18 18:02] baflink commented on #70
So you were running 2 servers on the same machine then @pointcache?

[2017-08-18 18:04] pointcache commented on #70
No, the build is runing the server, because i hit Host on it, i didnt hit host in editor, i literally did nothing, just play/stop

[2017-08-18 18:07] baflink commented on #70
Is this reproducible with 2 builds, one where you host and the other where you start it and then close it?

[2017-08-18 18:18] pointcache commented on #70
I mistook the start/play as related to disconnect, testing shows that disconnect is just time related it seems.
Like it just falls off after some time

[2017-08-18 18:33] baflink commented on #70
That was an issue that we had in the previous code, however this PR should have fixed that:  https://github.com/BeardedManStudios/ForgeNetworkingRemastered/commit/a9eea341cb3a97fe2f694b2bf41112efc83477bb

So I'll look into it again.

[2017-08-18 20:38] BrianWiz commented on #66
@baflink
I noticed you changed the title of the bug. While yes it is delayed, it's also just broken. If `sendTransform = false` it still sends and sets the transform.

[2017-08-18 20:46] BrianWiz commented on #33
@RYG81

Head on over to their website, they've got some tutorials there for creating a chat system, and they're in the works with more. They're under a cheap paywall ($5), unless you are already a supporter, contact them on Discord.
https://beardedmanstudios.com/learn/unity/multiplayer/unity-online-multiplayer-chat-system/

[2017-08-18 20:54] baflink commented on #66
Thanks for the clarification @BrianWiz I've updated the title yet again :). I use titles to take a guess at what I can cover with the time that I have

[2017-08-18 21:20] BrianWiz commented on #66
@baflink Yep I figured,

I just made some progress. I think I actually fixed the delay _sort of_.

I went directly to my projectile behavior and found `MainThreadManager.Run(NetworkStart);`, I moved this below the transform flags stuff inside Initialize();

The delay seems to be gone by the time NetworkStart() is called. I'm not sure if this is perfect but it certainly is better than hacking in a

[2017-08-18 21:24] baflink commented on #66
Interesting, thanks for the information. It sounds like the template `.txt` file will need to be updated to fit what is needed

[2017-08-18 23:16] pointcache opened #71 "NAT + MasterServer not working"
### Version Number and Operating System(s):
Latest version, win 10

### Expected behavior:
You put them on Linux vps, launch them following these instructions
https://github.com/BeardedManStudios/ForgeNetworkingRemastered/wiki/Starting-up-MasterServer-and-NatPunch-on-DigitalOcean-droplet

And it just works.
### Actual behavior:

Nothing works, no error, no warning, NOTHING in bms log , just refuse

[2017-08-20 21:45] NFMynster opened #72 "Quitting from a client breaks the server"
### Version Number and Operating System(s):
Latest github master branch as of the 20. of august.

### Expected behavior:
Server continues running with no issues
.

### Actual behavior:
The server stops completely, but with no errors.
https://cl.ly/3U2v2g071E33

### Steps to reproduce:
If you exit a client. This is all without handling any disconnection.

#### [Optional] Discord Username:
NFMynster

[2017-08-21 03:53] BrianWiz opened #73 "Fields skipping dirty check"
### Version Number and Operating System(s):
v24 and Windows 10

EDIT:
v24.1, Windows 10, Unity 2017.1.0f3

### Expected behavior:
Fields send only when they're dirty

### Actual behavior:
Fields are sending every update interval even if never changed

### Steps to reproduce:
Tested by running a field change event
[code]

#### [Optional] Discord Username:
NoMercy

[2017-08-21 14:48] cnbryan opened #74 "i send a text but can not get the same text why?"
Text temp = Text.CreateFromString(networkHandle.Time.Timestep, "abcdefg", true, Receivers.All,55, true);
networkHandle.send(temp);
how can i get abcdefg only ?
------------
 private static void NetworkHandle_textMessageReceived(NetworkingPlayer player, Text frame, NetWorker sender)
｛
frame.tostring()?---------------here can not get "abcdefg" only ,, i just get "abcdefg口"
｝
-----------

[2017-08-21 18:36] BrianWiz commented on #66
I'm going to make a PR with the fix for the delay either tonight or tomorrow, it seems to be working.

[2017-08-22 16:08] NuclearRasberry commented on #25
I'm pretty sure everything FNR is involved in doing is moving to this Github.

Cheers!
NuclearRasberry

[2017-08-22 16:17] baflink commented on #25
The roadmap will be tracked through GitHub issues since it will also cover feature requests as well. If you have some suggestions feel free to drop them here in GitHub issues and add an "Enhancement" label :)

[2017-08-22 16:17] #25 closed

[2017-08-22 16:17] #33 closed

[2017-08-22 19:40] lb4business commented on #17
@theWill i'm sorry, forgot to test it last week. Seems to work ok now. Thank you!

[2017-08-22 19:44] lb4business commented on #40
i've tested today using latest master branch server.
Server on android device, client on Editor: client connected, but server owned gameobject dont spawned
Server on Editor, client on Android device: no connection.

[2017-08-24 02:54] BrianWiz commented on #73
@baflink
I've tested with the latest commit and something still isn't right. It seems like field change events now fire if an RPC is sent from the client. Though I can't quite tell for sure, but I'm pretty sure that's what's happening. Or maybe it's receiving _any_ field updates from the server causing them to fire?

For example I have a uint, I set it once on the server and only once, yet when I

[2017-08-25 17:28] baflink commented on #73
@BrianWiz Can you try with the newest NetworkObjectTemplate.txt on develop?

[2017-08-25 17:29] baflink commented on #74
I will test this in the example cube forge scene to see what is going on. I am assuming that you are on TCP?

[2017-08-25 18:20] baflink commented on #74
I know what the issue is for this and it will be resolved tonight

[2017-08-25 19:49] #74 closed

[2017-08-26 03:19] #72 closed

[2017-08-28 20:43] Dkaban opened #78 "Prefab has multiple Transform components! Removing them automatically would not be safe error."
### Version Number and Operating System(s):
24.0.1
Windows 10

### Expected behavior:
No error, clean console

### Actual behavior:
Error in console "Prefab has multiple Transform components! Removing them automatically would not be safe. UnityEngine.Resources:Load(String)"

### Steps to reproduce:
1. Start a completely new project in unity
2. Import the Forge networking Remastered 24.0.1 Asset fr

[2017-08-28 21:09] Dkaban commented on #78
My quick fix was to just create my own BMSLogger prefab, without any transforms attached besides the default.  Not sure why the main Prefab BMSLogger object had 2 Transforms on it, as well as a child transform.

[2017-08-28 21:49] #78 closed

[2017-08-31 02:19] SmiggsGDog opened #80 "Forge not correctly registering RPCs"
### Version Number and Operating System(s):
Git pulled on the 30/8/17 - Win 10

### Expected behavior:
When each client connects they should have network instantiated prefabs created for them and RPCs should be registered.

### Actual behavior:
From time to time Forge fails to spawn some instantiated prefabs and some RPCs wont work on others. It appears that the some RPCs are not registered.

###

[2017-09-03 18:52] kamyker opened #81 "LobbySystem.prefab is corrupted"
### Version Number and Operating System(s):
Aug 16, 2017, Win 10

### Expected behavior:
Usable prefab

### Actual behavior:
Prefab somehow stopped working after last commit
![a41561f117c3c3b87ef5d4e3555ec931](https://user-images.githubusercontent.com/9093037/30005754-b92eb658-90e9-11e7-8171-a8fe4a208949.png)

Tried unity 5.4.4, 5.6.3 and 2017.1

Prefab from Aug 9, 2017 works correctly.

### Steps

[2017-09-03 23:34] BrianWiz commented on #73
@baflink Finally got around to testing this. There is still a problem.

I've got two fields, one is "`position`" (Vector2), one is "`test`" (int). I set `test` once in NetworkStart(), and I set `position` in Update();

The result is that the testChanged event fires every time position is changed. So it looks like if any field is changed, it thinks they all changed.

Here's my code

[code]
    void

[2017-09-04 06:54] #17 closed

[2017-09-04 14:53] BrianWiz commented on #73
@baflink So it looks like on the server, in `SerializeDirtyFields()`, it looks like it returns `dirtyFieldsData` with fields that shouldn't actually be dirty.

So it looks like if any field is dirty, it sends them all of them over in `HeartBeat()` on `NetworkObject.cs`. If none are dirty, it doesn't send anything as expected.

[2017-09-11 18:26] baflink opened #92 "[Documentation]"
The docs have a link in http://docs.forgepowered.com/UnityIntegration/network-instantiation/#manual-attachment-method to a page:  http://docs.forgepowered.com/network-object-without-prefab which does not exist

[2017-09-11 20:46] #27 closed

[2017-09-11 20:46] baflink commented on #27
See @kamyker's PR above for more information

[2017-09-19 23:34] baflink opened #96 "[NCW] Allow to compile script for stand alone server"
We should have a checkbox in the NCW to generate code that works with a stand alone server. Basically this one removes Vector3, Quaternion, etc from options to select from, uses **ObjectMapper** instead of **UnityObjectMapper**, and uses **Near** instead of **UnityNear**.

[2017-09-23 10:27] SmiggsGDog commented on #80
Updated to detail that this issue is not only related to cubeforge.

[2017-09-23 20:52] SmiggsGDog opened #98 "Unable to send Unity types in current dev build"
### Version Number and Operating System(s):
Git Dev Pull from 24/9/2017 - Win 10 Unity 2017.1.p3

### Expected behavior:
Should be able to send Unity types Vector3 and Quaternions

### Actual behavior:
BaseNetworkException: The type UnityEngine.Vector3 is not allowed to be sent over the Network (yet)
BeardedManStudios.Forge.Networking.ObjectMapper.GetBytesArray (System.Object o, System.Type type)

[2017-09-23 22:47] SmiggsGDog commented on #98
Bug is related to new static class created for mapping bytes. The old system used a singleton instance which changed between UnityObjectMapper and ObjectMapper based on if forge was running in Unity or Standalone. The recent changes made by @kamyker don't appear to account for this.

[2017-09-24 06:30] kamyker commented on #98
Try this: https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/99

[2017-09-28 05:25] #73 closed

[2017-09-28 18:12] #98 closed

[2017-10-04 16:15] MrManiak opened #101 "Instantiation system requires a validation function"
### Version Number and Operating System(s):
23.0, Unity 2017.1.1f1, Windows 10 Pro

### Expected behavior:
Calling an instantiation method on the NetworkManager from client-side should trigger a function on the server to validate the instantiation.

### Actual behavior:
There is no way to validate instantiation requests from clients. Any client can create any instantiation prefab at any point.

##

[2017-10-04 16:19] Tech305 commented on #101
let me tak a look at the code and see what is happening and get back to you

On Wed, Oct 4, 2017 at 11:15 AM, Ariel Gadbois-Roy <notifications@github.com

[2017-10-04 19:29] MrManiak commented on #101
As a kind soul in Discord pointed out, that's the job of the NetworkObjectFactory.

https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blob/master/Forge%20Networking%20Remastered%20Unity/Assets/Bearded%20Man%20Studios%20Inc/Scripts/NetworkObjectFactory.cs

[2017-10-04 19:29] #101 closed

[2017-10-07 14:36] Relic opened #103 "NCW operations corrupting Forge source"
### Version Number and Operating System(s):
Windows 10 Pro, Forge version 23.0, Unity 2017.1.0p4

### Expected behavior:
Creating, modifying and deleting NetworkBehaviors doesn't corrupt/crash the NCW, Unity or any source code generated by Forge or otherwise.

### Actual behavior:
Occasionally making a change to NetworkBehaviors in the NCW will cause critical errors in the Unity Editor, resulting

[2017-10-09 18:16] victorMaje opened #104 "Before connecting to a server, see a list of available Local LAN game servers by custom name"
### Version Number and Operating System(s):
Macos 10.12.6, Forge v24.1, Unity v5.6.1f1

### Expected behavior:
Before connecting to a server, see a list of available Local LAN game servers by custom name:
John's game
Maria's game
XYZ's game

### Actual behavior:
List of Local LAN game servers can only have a name made of a device IP/port or hardcoded value:
Game 1
Game 2
Game 3

### Steps to repro

[2017-10-10 16:28] baflink opened #105 "Create timeout checks on the client side to see if server disconnects"
This might actually already be in but broken, will leave it with the **enhancement** label for now

[2017-10-10 21:16] SmiggsGDog commented on #105
This was working but has recently stopped. Client will not disconnect/timeout if "cable" is pulled.

[2017-10-11 09:20] Zyles opened #106 "Steam integration?"
Will this library support Steam?

Thanks.

[2017-10-11 20:30] mcguinnessdr opened #107 "Objects sometimes not instantiated on client"
### Version Number and Operating System(s):
Develop branch as of 9/25
Win10

### Expected behavior:
Network objects spawned before a client connects should be spawned on client when it connects.

### Actual behavior:
Most of the time this works, but every once in a while it fails to spawn the objects on the client.  This seems to happen if the client is too slow loading the level, so the instantia

[2017-10-11 20:40] mcguinnessdr commented on #107
This issue may also be related: https://github.com/BeardedManStudios/ForgeNetworkingRemastered/issues/80

[2017-10-11 22:56] KirkStallings commented on #81
A pull request has been submitted to fix this bug.

[2017-10-11 23:07] KirkStallings opened #109 "VS Error CS0246 "Type or namespace could not be found" for ForgeNetworkingUnityEditor"
### Version Number and Operating System(s):
Windows 10
Unity 2017.1.2
Visual Studio Community 2017.
Commit 8a441f3

### Expected behavior:
Open FNR in Visual Studio and build. Open project in Unity to resolve errors.

### Actual behavior:
Two of the reference paths do not get set correctly even after opening in Unity. Both of these are in the ForgeNetworkingUnityEditor references. Specifically the

[2017-10-13 16:29] #81 closed

[2017-10-13 20:43] KirkStallings commented on #109
The problem is shown in the install video here:
https://youtu.be/Rtx7dCtspV4?t=385

[2017-10-14 01:35] KirkStallings commented on #109
[Bug Notes.txt](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/files/1384328/Bug.Notes.txt)

[2017-10-17 21:09] dariorbun opened #110 "Prefab with 2 networkobjects (one in root and one as child) sometimes tries to initialize the wrong behavior"
### Version Number and Operating System(s):
Version 24.1 Win10

### Expected behavior:
When you spawn a prefab that has a networkobject in the root transform and another networkobject in one of its child, both should instantiate correctly when you call the  NetworkManager.Instance.Instantiate () of the root object

### Actual behavior:
Sometimes it happens that on a client, the instantiation bugs

[2017-10-18 11:51] Sekair commented on #103
I have the same problem, but i dont have any workarounds that works for me.
I just delete all precreated object in wizard and create my own. From that point i cant see any NetworkObject in wizard. If i open it i catch exception like below and see nothing in wizard tab.
I tried to delete and reimport project from asset store, it doesn't help.

Parameter name: element
System.Attribute.CheckParameter

[2017-11-03 14:08] Nesvi opened #111 "Unity 2017.2 editor doesn't connect"
### Version Number and Operating System(s):
24.2 Windows 10

### Expected behavior:
Connect from one editor server/client to other editor/build server/client in different PCs.

### Actual behavior:
It does not connect.

### Steps to reproduce:
Open Unity editor and try to connect to another PC running a build or other editor.

#### [Optional] Discord Username:
Nesvi

[2017-11-03 14:52] Nesvi commented on #111
DEEP_LOGGING Doesn't outputs nothing because it doesn't even connects.

[2017-11-03 16:58] KirkStallings commented on #111
Try it with two editors on the same PC. If that works, then connecting between two PCs is likely a networking / firewall issue. To test with two editors on one PC, simply copy the entire project folder, open two instances of Unity, and open one project in one instance of Unity and the copied project in the second instance of Unity.

[2017-11-14 11:45] adhicl commented on #71
I also got the same result so +1

[2017-11-23 11:38] adhicl commented on #71
Any news on how or when this could probably solved? I myself has been trying to investigate why, so far it seems that the natpunchhole fail to receive register message from client.
When connected on local computer:
![connected](https://user-images.githubusercontent.com/2452628/33171050-55cc1a64-d07d-11e7-999f-3fbd8b0b80e9.jpg)
What happened on server:
![notconnected](https://user-images.githubuser

[2017-11-25 11:44] JRM-IT commented on #66
It seems that this PR broke the NetworkStart() execution for network behaviours which already reside inside a loaded scene.

When the scene is loaded the network manager initializes all network behaviours without any metadata (see NetworkManager.SceneReady). Now with this PR the generated initialization method will return before triggering NetworkStart.

[2017-12-06 06:53] adhicl commented on #71
Hi, so is there anyone working on this? I am now able to get the register command to be sent from the server but the NAT hole punch is still failing a.k.a the host client can not send the first message to the connecting client and I have no idea why this time

[2017-12-10 19:46] Relic opened #113 "Clients instantly disconnected with SocketException when using TCP."
### Version Number and Operating System(s):
Windows 10 64-bit
Unity 2017.2.0f3
Forge master branch commit 9fe861e

### Expected behavior:
Ticking Use TCP property in the Multiplayer Menu script inn MultiplayerMenu.unity scene and then building & running the CubeForge example should result in CubeForge working as expected.

### Actual behavior:
Any clients connecting are instantly disconnected with

[2017-12-12 18:13] Crazy8ball commented on #109
Good catch, will be fixed on latest.

[2017-12-12 18:13] #109 closed

[2017-12-12 18:27] Crazy8ball commented on #71
Here is the documentation for Nat Hole Punching. We didn't write that Wiki on how to use it for Digital Ocean but I would contact the person who did if you are trying to use it through them.
[http://docs.forgepowered.com/nat-hole-punching/#nat-hole-punching](http://docs.forgepowered.com/nat-hole-punching/#nat-hole-punching)

I can't tell if it is firewall related but I would also check the ports o

[2017-12-14 03:51] adhicl commented on #71
Hi @Crazy8ball , yeah my problem right now is the Nat Hole Punch seems like does not working between the clients. I have testing things using the ConsoleProgram in this github source. And I already manage to make it so that the NatHolePunch on server and client can communicate. The problem is the connection between client that does not work.
My setup right  now is: NatHolePunch is in DO Ubuntu Ser

[2017-12-29 22:07] XaloX commented on #106
@Zyles It does support Steam, you need just to integrate it in.

[2017-12-29 22:38] TylerOlsen commented on #106
I highly recommend https://github.com/Facepunch/Facepunch.Steamworks

Used in Rust (a game also developed with Unity)

[2017-12-29 22:45] XaloX commented on #106
@TylerOlsen Indeed!! @Zyles I never tested it, but with Facepunch or any steam wrapper, I heard Steam has little to no trouble integrating code into your game.

[2017-12-30 00:13] XaloX commented on #92
Fixed :)

Merry Christmas!! 😄🎄

Xalo

[2018-01-05 11:10] J-B-B opened #120 "documentation 404"
### Expected behavior:
returning 200 / webpage

### Actual behavior:
returning 404 / notfound

### Steps to reproduce:
open:
`http://docs.forgepowered.com/Troubleshooting/troubleshooting/`
and the next subpage

#### [Optional] Discord Username:
JB#8435

[2018-01-05 22:39] baflink commented on #120
Fixed

[2018-01-05 22:39] #120 closed

[2018-01-06 03:08] sudall opened #121 "NetworkBehavior GameObject not being spawned in the correct position"
### Version Number and Operating System(s):
Latest Forge, Windows 10

### Expected behavior:
A NetworkBehavior's GameObject should spawn at the position and rotation given when instantiating via the NetworkManager.

### Actual behavior:
GameObject spawns at origin with no rotation (the defaults), then is moved and rotated after creation.

### Steps to reproduce:
You should see the object for a spl

[2018-01-06 22:22] #92 closed

[2018-01-06 22:23] baflink opened #122 "Network Object WIthout Prefab docs needed"
Need to document this page http://docs.forgepowered.com/UnityIntegration/network-object-without-prefab

[2018-01-18 23:16] nxrighthere opened #126 "Compatibility with asynchronous Task()"
### Version Number and Operating System(s):
Latest version, Windows 10 (x64)

### Expected behavior:
The server and client should be fully functional when they initialized with asynchronous tasks.

### Actual behavior:
A connection request is never sent to the endpoint. You can clearly see this with any packet sniffer. Disconnect request is working fine.

### Steps to reproduce:
Download [this pro

[2018-01-27 17:45] g-klein commented on #71
Hi, NAT punchthrough isn't working for me.

I set up the cube example with the Master Server / NAT punchthrough server running in AWS.  I can successfully host a game through the master server, and I can see the host in another game client using the example server browser.  I can also see the IP of the host being registered on the NAT punchthrough server.  However, when I try to connect to the hos

[2018-01-27 17:47] g-klein opened #127 "NAT punchtrough server not working"
### Version Number and Operating System(s):

### Expected behavior:
I set up the cube example with the Master Server / NAT punchthrough server running in AWS. I can successfully host a game through the master server, and I can see the host in another game client using the example server browser. I can also see the IP of the host being registered on the NAT punchthrough server and master server in

[2018-01-27 17:52] Assambra opened #128 "Website Documentation Basic moving Cube example missing comma in Vector3 Code"
http://docs.forgepowered.com/GettingStarted/basic-moving-cube-example/

In the Basis Cube Code missing some comma in the Vector3;

transform.position += new Vector3(Input.GetAxis("Horizontal") 0, Input.GetAxis("Vertical")).normalized * speed * Time.deltaTime;

Should be:
transform.position += new Vector3(Input.GetAxis("Horizontal"), 0, Input.GetAxis("Vertical")).normalized * speed * Time.deltaTime

[2018-02-03 08:10] KonH commented on #128
I have opened pull-request where this issue fixed - https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/129

[2018-02-10 16:28] Nimuecrypto opened #131 "Interpolated fields not invoking OnChange event."
### Version Number and Operating System(s):
FNR 24

### Expected behavior:

Forge Networking object fields should invoke On<fieldname>Changed event when the field is changed

### Actual behavior:
Fields with interpolation enabled do not invoke this event.

### Steps to reproduce:
Create a network object with two fields, one interpolated and one not.  Then subscribe to the On<fieldname>Changed even

[2018-02-10 16:34] Nimuecrypto opened #132 "Extending the <ObjectName>NetworkObject partial class to any degree breaks NCW"
### Version Number and Operating System(s):
FNR24

### Expected behavior:
Since the class is marked partial, I expect to be able to extend it without breaking Network Contract Wizard.

### Actual behavior:
Extending the <ObjectName>NetworkObject class for an object to any real degree (adding public or private fields to top of class) results in NCW failing to load all network objects and appear emp

[2018-02-10 19:51] 099Martin commented on #127
Confirming! The same issue is happening here too.
Hope we will get this problem solved.

-099Martin

[2018-02-12 19:18] baflink opened #133 "Update copyright headers to express MIT license in files"
MIT is the license for all the source code, we need to update the source files to say so

[2018-02-14 22:19] Nimuecrypto commented on #103
I have experienced this, and the only solution seems to be to restart the editor.  Often times I cannot even close the broken NCW window.

[2018-02-15 01:05] NFMynster commented on #103
Make sure your project can compile, that should fix the NCW. Join the discord for more help!

[2018-02-23 03:21] KonH commented on #128
Pull request was merged.

[2018-02-27 13:30] NFMynster opened #136 "IPParsing is not working correctly"
### Version Number and Operating System(s):
Latest pull upon this day

### Expected behavior:
An invalid IP will invoke the connectAttemptFailed.

### Actual behavior:
Inside networker.cs line 79, a null IPEndPoint will be returned null upon fail parsing. Therefor the connection event will not be called.
So, Forge doesn't return properly upon an invalid IP being connected too, making the connectAt

[2018-03-23 01:48] ihaiucom opened #137 "UDPServer::ReadClients if (packet[0] == 71 && packet[1] == 69)"
### Version Number and Operating System(s):

### Expected behavior:

### Actual behavior:

### Steps to reproduce:

#### [Optional] Discord Username:

71,69 Where did it come from?

[2018-03-23 07:32] ihaiucom opened #138 "UDPServer Deadlock Or Socket blocking phenomenon"
### Version Number and Operating System(s):

### Expected behavior:

### Actual behavior:

### Steps to reproduce:
2 clients to connect to the server
It is normal at this time

When B Client Closes
At this point the A client sends messages to all players again and it is reliable
There will be server messaging jams

#### [Optional] Discord Username:

[2018-03-23 15:03] tomeglenn opened #139 "Crash on Application Quit in Unity and Built Applications"
### Expected behavior:
Doesn't crash...

### Actual behavior:
Crashes

### Steps to reproduce:
- Create Unity project
- Add Forge and a new scene
- Run Multiplayer scene
- Build application and run it as host
- Try to quit application, it will crash

#### [Optional] Discord Username:
HazedTG

[2018-03-27 02:28] g-klein opened #141 "Server is unable to prevent players from connecting, and unable to drop existing connections"
### Version Number and Operating System(s):
Windows + latest forge

### Expected behavior:
If the server calls `((IServer)NetworkManager.Instance.Networker).Disconnect(player, `true);`, the specified player should be disconnected.  If the maximum players for the server has been reached, new connections should not be allowed.  If the

### Actual behavior:
I have tried to set up a server with the ma

[2018-03-28 02:29] g-klein opened #142 "Servers cannot update their master server listing"
### Version Number and Operating System(s):
Windows + latest forge

### Expected behavior:
Calling NetworkManager.Instance.UpdateMasterServerListing(NetworkManager.Instance.Networker); will update the master server listing

### Actual behavior:
Giant error:
[code]

[2018-04-02 09:41] kojonek2 opened #145 "NAT server not refreshing hosts"
### Version Number and Operating System(s):
Newest repo and windows 10

### Expected behavior:
Host should be registered on nat server every time he wants to be registered

### Actual behavior:
NatServer never deletes info about host and it doesn't allow to refresh this info so it works only for first attempt to host a server by player. I made dummy hotfix which allows to refresh info. Simply when

[2018-04-02 16:38] konstantin890 opened #146 "NCW won't open"
### Version Number and Operating System(s):
Windows 10 x64, Unity 2018.1 Beta 13

### Expected behavior:
NCW to open

### Actual behavior:
NCW won't open

### Steps to reproduce:
Put any file (script, text file, etc.) in the user-generated folder. And NCW won't open anymore until you move/remove them.

#### [Optional] Discord Username:
Kosio#9955

[2018-04-03 06:12] bfishman commented on #139
Having the same issue. Both example programs freeze when the client player is closed.

Interestingly, the server player does not freeze when closed... unless the client player is currently frozen, in which case the server freezes as well.

Also, interestingly, if you close the server, and *then* close the client, the client does not freeze.

I tried out the commit made by @tomeglenn but it did not

[2018-04-04 01:59] bfishman commented on #139
Fixed by https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/147

[2018-04-10 08:12] hideohiro opened #151 "ConsoleTestProgram send text, receive wrong data"
### Version Number and Operating System(s): release-0.004, OS: Windows

### Expected behavior: Send and receive text correct

### Actual behavior: Alway receive more bytes

### Steps to reproduce: run project test
- Open ConsoleTestProgram project, build.
- Run project and select "server"
- Open file ConsoleTestProgram.exe, choose client,
- Client send text "Hello"
- Server receive "Hello?"

####

[2018-04-10 17:36] hideohiro commented on #151
I found the reason why the text receive always wrong. Uncomment line 172, file /BeardedManStudios/Source/Forge/Networking/Frame/FrameStream.cs to resolve it. I don't know why someone comment it. Hope this help!

[2018-04-11 14:00] devandart opened #152 "NCW RPC naming"
### Version Number and Operating System(s):
release-0.004, Windows 10 64 Bit

### Expected behavior:
Save and Show all RPC methods in the NCW dialog

### Actual behavior:
When the RPC name ends with "Changed" like "MyPropertyChanged" it gets removed in the ForgeClassObject.cs class because of internal field naming.
After saving again it gets lost.

### Steps to reproduce:
Create a NCW Object, Add

[2018-04-18 14:15] eriknielsen commented on #131
I have the same issue with version 27.

[2018-05-24 21:45] mschwarz1 commented on #127
Running into the same issue.

[2018-06-06 04:20] wormszer commented on #132
This is happening because the NCW looks at the actual code to get its field values. And then compares this against the class attribute GeneratedInterpol and the interp json. It then indexs into this array to see if it should be interpolated. Adding a new variable will cause and out of bounds exception.

[2018-06-06 05:36] wormszer opened #157 "RoundTripLatency calculation when simulating Lag"
### Version Number and Operating System(s):
Windows 10 64 Bit  2389acd

### Expected behavior:
Running the tool clumsy to simulate latency on the network the NetworkingPlayer.RoundTripLatency should be calculated to reflect the added latency.

### Actual behavior:
Using the Ping command the latency is taken into account. The method used in the UDPPacketComposer.MessageConfirmed function, looks at

[2018-06-06 19:31] wormszer commented on #157
Looking at it more it might be that, because the latency is not correct. Its resending lots of messages,
It finally gets a completed message back, and looks at the last time of the last resend, compared to the completed message.
This ends up being very short, because it has been spamming resends.
Instead of looking at the actual time of the completion packet was sent.
Seems it should be something

[2018-06-20 03:31] wp498930275 opened #160 "在场景加载完毕，调用NetworkManager:SceneReady的时候 NetworkObjectFactory在MainThreadManager中创建的NetworkObject并没有执行"
### Version Number and Operating System(s):
windows 10, unity3d

### Expected behavior:
no error

### Actual behavior:
sometimes NetworkBehavior.networkObject is null
NetworkObjectFactory create NetworkObject after SceneReady is called, because this execute in MainThreadManager.

### Steps to reproduce:
http://docs.forgepowered.com/GettingStarted/basic-moving-cube-example/
this example sometimes c

[2018-06-25 21:31] dariusbode commented on #127
Having the same issue running the NAT on a AWS EC2 instance with Ubuntu. Ports are open, host/client requests are being registered, but connection from client to game host is not succesful. Any updates?

[2018-06-25 21:51] NFMynster commented on #127
Seen the semi recent video about how it's set up?

[2018-06-25 21:56] NFMynster commented on #127
https://youtu.be/AbZX8GchHS4

[2018-06-26 12:28] dariusbode commented on #127
Please see this log from Wireshark: I noticed Forge is sending from the local client that wants to join (IP 192...) directly to the host IP (87...) instead of using the NAT server (54...) IP. I would expect this to fail as it needs to take the NAT route inbetween.
![nat](https://user-images.githubusercontent.com/12345558/41911488-0ead2262-794d-11e8-826f-32070839587b.jpg)

[2018-06-27 07:34] OptimisticQuan commented on #160
这个问题？
http://docs.forgepowered.com/GettingStarted/basic-moving-cube-example/#troubleshooting

[2018-06-27 07:41] OptimisticQuan commented on #127
if NAT punchtrough failed,  does FNR have the resolution that fallback to relay server?

[2018-06-27 13:01] NFMynster commented on #160
Could you try and elaborate a bit more, and keep it in English? Then it's a easier to understand your issue and hopefully get it fixed.

[2018-06-29 03:48] wp498930275 commented on #160
就是空引用的问题，我和那个例子几乎一样，我多了个切换场景的操作，连接成功之后，在服务器上点击一个按钮，切换到下一个场景，其他的和例子里面完全一样。标题里是我查到的原因。  有一个很操蛋的修复方法，在NetworkManager:OnLevelFinishedLoading的SceneReady方法之前把 MainThreadManager里面的Actions都执行了 @OptimisticQuan

[2018-07-16 15:19] Memorix101 commented on #70
The master server doesn't work for me at all. No server is being registered.

[2018-07-25 12:04] OnlyHardOfficial opened #168 "Issues with Unity 2018.2"
### Version Number and Operating System(s):
Windows 10 Enterprise

### Expected behavior:
I was hoping to open the solution without getting any initial error

### Actual behavior:
It shows that it is impossible to compile the solution in Visual Studio 2017 because it shows an error, and it is also impossible to open the project in Unity says two files not found!

[2018-07-26 08:30] sommerper commented on #168
I don't have that error (2018.2.0f1). I've tried both the nightly version and 24.3 from the asset store.

[2018-07-27 04:45] StellarYan opened #169 "Prefab instantiation with multiple children is not working correctly"
### Version Number and Operating System(s):
Windows 10 64
Unity 2018.1.8
### Expected behavior:
The prefab with multiple children should Instantiate correctly.

### Actual behavior:
Client side throw Exception
"ArgumentException: An element with the same key already exists in the dictionary."
Prefab and NetworkBehaviors are not instantiate correctly.

### Steps to reproduce:
1. Create a prefab wit

[2018-07-31 01:48] #169 closed

[2018-07-31 01:50] StellarYan commented on #169
#170 Solved.

[2018-08-02 10:46] FireDragonGameStudio opened #171 "Can't deploy on Hololens - ReferenceRewriter errors"
### Version Number and Operating System(s):
OS: Windows 10 x64
Asset-Version: 24.3 - Latest version from Unity AssetStore
Unity-Version: 2018.1.6f1

### Expected behavior:
Building a simple networking prototype (basic cube moving example from docs) and deploy it to Hololens to check networking performance. Should at least start. No additional 3rd party libraries (e.g. Holotoolkit) used.

### Actua

[2018-08-11 15:54] Karmelov opened #173 "Nested networkBehaviors not instantiating correctly on client"
When you have a `NetworkBehavior` which has children with other `NetworkBehaviors`, there is a chance the children are not initiated correctly.

This issue only happens when the function `NetworkManager.CaptureObjects(NetworkObject obj)` process the children before their parent. For some reason this seems to be an issue for new connecting players, when they receive all the created instances at the

[2018-08-12 10:16] NFMynster commented on #171
You're saying you are using the asset store version, but actual behavior is to build the visual studio solution?
What exactly are your issue? :)
Join the Discord for better help btw.

[2018-08-13 06:05] FireDragonGameStudio commented on #171
Hy @NFMynster,
when you create a Unity application for Hololens, it is necessary to build it as UWP app. This UWP build process fails with about 171 errors. The result of this building process is a visual studio solution which is used to deploy the app to Hololens (similar to the iOS build process in Unity).

The issue is, that the build for UWP throws a lot of "ReferenceRewriter" errors in Unity.

[2018-08-13 06:36] NFMynster commented on #171
Are these the errors you've been getting? https://github.com/BeardedManStudios/ForgeNetworkingRemastered/issues/39

[2018-08-13 08:31] FireDragonGameStudio commented on #171
Unfortunately these are not the errors I get. I'll attach a screenshot for additional information.
![forgenetworkingerrors](https://user-images.githubusercontent.com/23502690/44021019-00cd5a42-9ee4-11e8-8167-8a2d07a7da3d.jpg)

[2018-08-19 20:33] NFMynster opened #180 "Connection will never retry nor fail"
### Expected behavior:
UDPClient's Connect method trying a connection several times and then calling "connectAttemptFailed" event.

### Actual behavior:
UDPClient's Connect method will only try a connection once, and never retry therefor never call the "connectAttemptFailed" event.

### Steps to reproduce:
Type in a valid IP, and have a method hooked up to the "connectAttemptFailed" event. You wil

[2018-08-20 11:46] #171 closed

[2018-09-16 13:01] Fabpk90 commented on #113
Hi!
Did someone found a fix for this?

[2018-09-30 20:06] mcguinnessdr commented on #111
Closing this issue, as it was likely an error with the set up, not with Forge.

[2018-09-30 20:06] #111 closed

[2018-09-30 20:08] mcguinnessdr commented on #168
Cannot reproduce, many people are using Forge just fine with 2018.2.

[2018-09-30 20:08] #168 closed

[2018-09-30 20:09] mcguinnessdr commented on #146
Putting non generated files in the generated folder will cause errors, this is expected behavior.

[2018-09-30 20:09] #146 closed

[2018-09-30 20:11] mcguinnessdr commented on #138
Closing due to vagueness and inability to reproducibility.

[2018-09-30 20:11] #138 closed

[2018-09-30 20:33] mcguinnessdr commented on #113
Presumably fixed in PR #189

[2018-09-30 20:33] #113 closed

[2018-09-30 20:35] mcguinnessdr commented on #110
#173 Contains a more thorough explanation.

[2018-09-30 20:35] #110 closed

[2018-09-30 20:37] mcguinnessdr commented on #106
Steamworks integration was added in PR #143

[2018-09-30 20:37] #106 closed

[2018-09-30 20:39] mcguinnessdr commented on #103
If your project can't compile due to any code errors, including unimplemented RPCs that you have just added, the NCW won't work.

[2018-09-30 20:39] #103 closed

[2018-09-30 21:54] Erlite commented on #131
I'll try to get a look at it!

[2018-10-01 15:06] mcguinnessdr commented on #180
The issue is that while trying to read from the network the socket throws an error, seemingly because there's nothing at that endpoint (Error Code 10054, System.Net.Sockets.SocketException: An existing connection was forcibly closed by the remote host.).  If I ignore this error is works perfectly, the client will retry connect attempts and connect once a server is up (https://github.com/BeardedMan

[2018-10-01 15:20] mcguinnessdr commented on #151
I believe #189 fixed this.

[2018-10-01 15:20] #151 closed

[2018-10-06 13:59] bhermer opened #193 "MasterServer Host Disconnect error"
### Version Number and Operating System(s):
Win 10, lastest as on 06/10/2018 (not sure where I find the version?)

### Expected behavior:
Host Removed
Host [192.168.1.119] on port [15937] with name [Forge Game] removed

### Actual behavior:
Crash on TCPServer line 621
 Disconnect((NetworkingPlayer)e.UserToken, true);
Invalid cast
### Steps to reproduce:
Download MasterServer, run through this tuto

[2018-10-07 19:42] #193 closed

[2018-10-13 18:39] honda2 opened #196 "NCW Interpolation attribute won't stay checked, some fields gets interpolation even when uchecked"
### Version Number and Operating System(s):
03/10/2018-19.53.38,04
Unity 2018.2.10f1
Windows 10 x64
**Czech cs-CZ locale**

### Expected behavior:
create PlayerNetworkObject
field position Vector3, checked Interpolate 0,1
field id Uint
clicked Compile

have interpolated position and bare id property

### Actual behavior:
have interpolated both fields in code, but when opened NCW, no interpolate ch

[2018-10-16 00:04] WhelanB commented on #196
This should be fixed in #198, if you'd like to validate the changes

[2018-10-30 15:57] ForgeUser2018 opened #201 "RPCs causing clients to disconnect from server"
### Version Number and Operating System(s):
- Cloned master repo on 2018-10-20
- Fresh Unity project
- Windows 10 64bit
- Unity 2018.2.11f1

### Expected behavior:
Sending RPCs should be stable, both reliable and unreliable, regardless of the bandwidth received and sent by both the clients and server.

### Actual behavior:
RPCs do work initially, but no matter how RPCs are sent, e.g. by using `Sen

[2018-11-03 18:52] nanospork commented on #201
I'm running into this too, in my active project. Hosting in one instance, client connected in the other. After a few minutes of constant RPCs, the client disconnects but the host is fine. Nothing is showing up in bmslog.txt, even though I have `Log to File` enabled.

I don't know much about how Forge's networking works internally yet (still very new), but it smells like a full buffer or something?

[2018-11-05 06:47] nanospork commented on #201
I'm actually getting crashes on the host now as well. Still seems to be related to the amount of data sent over RPC. The crashed host is exhibiting the same CPU consumption increase when it freezes.

[2018-11-05 13:12] ForgeUser2018 commented on #201
@nanospork Yea looks like there is a buffer overflow. Maybe there is a deserialization problem somewhere. Could also be a stack overflow caused by a faulty (while-) loop or alike. Dunno, would be helpful if the FNR dev would take a peek at this.

[2018-11-09 20:07] ForgeUser2018 commented on #201
Commenting out lines `394` till `399` in file [`UDPServer.cs`](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blob/f1ccd8704e75f38f49b70f9fe0f1867739427bff/BeardedManStudios/Source/Forge/Networking/UDPServer.cs#L394-L399) prevents the clients from being disconnected. So this part needs to be debugged.

[2018-11-19 13:38] Rafaesp commented on #201
Very serious bug. I hope it gets fixed soon.
Thanks @ForgeUser2018 for all the work done.

[2018-11-20 10:59] Effestiar opened #202 "Problematic order of events NetworkStart and OwnerChanged"
### Version Number and Operating System(s):

- October 11 2018 18:03:38
- Fresh Unity project
- Windows 10 64bit
- Unity 2018.1.3f1

### Expected behavior:
Being able to assign ownership right after creation of an object and being able to cleanly subscribe to this change.
### Actual behavior:
There is no clean way of doing so if the object is spawned on the server.
On the server the OwnershipChang

[2018-11-28 14:40] k77torpedo opened #203 "NetworkBehaviors awaiting NetworkBind() indefinetly and not being destroyed on the client"
### Version Number and Operating System(s):
* Unity Version 2018.2.1f1
* Forge Package Downloaded 2018-11-28
* Fresh Unity Project
* Windows 7 64bit

### Expected behavior:
1) A NetworkBehavior is placed in a Scene when in the Unity-Editor (not during runtime).
2) The Server is started and the NetworkBehavior is properly registered and initialized on the server.
3) A Client connects and the Scene

[2018-12-15 00:49] AttackingHobo commented on #201
How is the status of this bug. I was thinking about using Forge, but this seems to be a killer bug right now.

[2018-12-15 12:07] ForgeUser2018 commented on #201
@AttackingHobo No fix in sight. This bug renders FNR pretty much unusable.

[2018-12-15 12:08] NFMynster commented on #201
@BrentFarris

[2018-12-17 21:15] BrentFarris commented on #201
Thanks for the report, @Crazy8ball and myself will look into the issue, a lot of the times these kinds of things are usually a minor fix so hopefully, it can be identified quickly. If anyone else has debugged the code and found the spot where this would mainly be happening, please let us know. @ForgeUser2018 I'll take a look around the area of code you were mentioning in your comment as well.

Tha

[2018-12-18 07:55] BrentFarris commented on #201
Please review this pull request:  https://github.com/BeardedManStudios/ForgeNetworkingRemastered/commit/ff31f675f553a326ad2be04d21a97b894ecea5fd

**TLDR;**
It will resolve the issue that is found here, I'll be creating a new issue to find out where the garbage "connect" message is being relayed from on the server that is causing this issue.

**Long explanation:**
What was found was that the server

[2018-12-18 07:55] #201 closed

[2018-12-18 08:07] BrentFarris opened #207 "Sever is sending a connect message to the client (not damaging, but curious)"
### Version Number and Operating System(s):
Current

### Expected behavior:
Do not send connect messages to clients from server

### Actual behavior:
There are connect messages being relayed to the client. This was causing this error: https://github.com/BeardedManStudios/ForgeNetworkingRemastered/issues/201 which is resolved.

This bug does not cause any immediate problems and should be able to co

[2018-12-18 12:44] Hoijima opened #209 ", Decimal symbol breaks interpolation field"
### Version Number and Operating System(s):
09.12.18
Windows 10

### Expected behavior:
Activate interpolation and set it's value 0,1
https://i.imgur.com/Pz1a0Uf.png
### Actual behavior:
param is inactive or set to number after the delimiter
https://i.imgur.com/O4m7ia5.png

### Steps to reproduce:
set the system Decimal symbol to ,
log out - log in
try to set a value to a float using 0,15 as an ex

[2018-12-22 10:10] celadaris opened #211 "Change maxPlayers to 2"
### Version Number and Operating System(s):
Tested on PC - Windows 10
Forge Version - 20.12.2018
Unity - 2018.2.13f1

### Expected behavior:
Change the max amount of players to 2 (host and client), this should block all other connections.

### Actual behavior:
2nd client hijacks the connection and is able to receive updates (for a couple seconds) from the network while the original client isn't. Y

[2018-12-26 16:15] phalasz commented on #211
I did some debugging of this with the latest github repo files.

This is what is going on. Host starts up. Client 1 connects. Client 2 tries to connect, but gets rejected by the server so it retries the connection 10 times as that is the max retry count. After that client 1 times out and client 2 can connect.

Client 1 seems broken, but that is only because it is not going back to the menu scene o

[2018-12-26 18:03] phalasz commented on #211
Also this issue looks a lot like issue #141

[2018-12-27 17:40] davoodkharmanzar opened #214 "Team match example?"
hello,
does exists team match example?
team create - join to team - team rank??
thanks.

[2018-12-27 18:12] NFMynster commented on #214
Join the discord, that's where all support happens!

[2018-12-31 20:19] manamster opened #215 "Having troubles sending position and rotation data over the interwebs"
### Version Number and Operating System(s):
Forge Networking Remastered with Unity 2018.3.0f2 on Windows 10 Home

### Expected behavior:
It would read the transformation and rotation of an object and send it over the network

### Actual behavior:
Assets\read.cs(12,9): error CS0103: The name 'networkObject' does not exist in the current context

### Steps to reproduce:
literally, add "using Bearded

[2018-12-31 20:31] manamster commented on #215
how do you do that? I have already generated a network wizard code file and I don't know how to link them together.

[2018-12-31 22:14] manamster commented on #215
I'm just giving up on forge networking because of how broken and unintuitive it is (In my opinion from my experiences trying to fix it for 16 hours). I'm just sticking with crappy UNet and I am going to try to get it to work.

[2019-01-01 10:19] phalasz commented on #215
@manamster We are sad to see you go. Also a better place to get support would have been the official discord channel instead of issues on github as this is not really a bug.

The problem you are seeing is that you have not created a class that implements all the abstract methods from the generated file that was created by the NCW. To answer you question on `how do you do that?` it is like with any

[2019-01-02 16:48] WhelanB commented on #209
What language/region is your device set to?

After saving and compiling your object, what values are contained in the [GeneratedInterpol] attribute in the generated networkobject class?

[2019-01-03 19:05] Hoijima commented on #209
Ru/Ru

Same as the result contained in the second screenshot.

[2019-01-03 21:45] WhelanB commented on #209
Could you post the actual values contained in the [GeneratedInterpol] attribute within the generated networkobject class (the entire line) or even just pastebin the entire class?

I haven't been able to reproduce this on my own system yet through the network wizard. The issue is consistent with the interpolation values being stored comma-delimited in the [GeneratedInterpol] attribute within the ge

[2019-01-06 12:46] phalasz commented on #215
Can this issue be closed? Don't seem to be a bug.

[2019-01-06 16:11] phalasz commented on #211
Some more digging shows that the problem seems to be with

[code]

The `Send` in the `UDPServer::SetupClient` method only sends to accepted clients, which means that it will send the error message and the connection close message to all connected clients that are set to be Receivers by `CommonServer::PlayerIsReceiver`. This causes all connected and accepted clients to disconnect instead of the not

[2019-01-06 22:34] phalasz commented on #180
While investigating issue #211 I found that connection retries do happen on a valid ip and saw the `connectAttemptFailed` event trigger after the last retry.

[2019-01-07 19:00] phalasz commented on #214
Can this issue be closed?

[2019-01-08 10:57] phalasz commented on #211
@celadaris would you be able to validate that the fix we merged solves your problem?

[2019-01-08 11:01] phalasz commented on #141
@g-klein would you be able to check that fix #217 resolves this issue?

[2019-01-09 15:35] phalasz commented on #202
From @Adrian_H#1701 on Discord:

[2019-01-10 09:45] adrianhoppe commented on #202
Yeah, thanks @phalasz
This issue can be closed, as the error no longer appears after the fix.
PR #204 is already merged into master.

[2019-01-10 09:49] #202 closed

[2019-01-10 09:53] #215 closed

[2019-01-10 09:53] #214 closed

[2019-01-10 09:57] NFMynster commented on #121
There's a fix for this on the official Discord.
TLDR you can call SnapInterpolation as that's what's causing the issue, since it's trying to lerp from a previous/invalid vector3, ie world origin.

[2019-01-10 09:57] #121 closed

[2019-01-10 13:38] NFMynster commented on #136
fixed in pull request #219

[2019-01-10 13:38] #136 closed

[2019-01-10 14:47] phalasz commented on #142
@g-klein is this still an issue with latest builds? I can't seem to reproduce it when using the cube example with the additional update on the playerAccepted event.

[2019-01-10 15:57] kojonek2 commented on #145
@phalasz As I remember when you host game again on the same port the NetworkingPlayer changes and should be replaced to new connection instance. I may be wrong because I haven't used it since then.

[2019-01-11 14:33] WhelanB commented on #132
Following #216 this should no longer happen for NetworkObjects using the new attribute, however it will throw an out of bounds exception if there is a partial class present and the generated network object code has not yet been updated. A solution to this could just be to pad the interpolation array with zeroes or provide some other recovery method for the out of bounds exception.

It could be pos

[2019-01-11 22:36] WhelanB commented on #209
duplicate of #196

[2019-01-21 10:15] adrianhoppe opened #220 "Ownership change breaks interpolated fields"
### Version Number and Operating System(s):
Master Branch  commit 8d131e0fe9cebade291cd76dcd3f49acfd20b5fa (latest as of today)
Unity 2018.3.0f2
Windwdos 10

### Expected behavior:
When ownership changes, interpolated field variables of a networkObject are identical on both the new owner and other connected clients.
Non-interpolated fields work as expected.

### Actual behavior:
The variable on th

[2019-01-26 07:39] gredek commented on #220
Hi Adrian_H,

I also noticed this issue. So you are not alone. I created a simple scene where the owner of the a cube can move the cube left or right with the arrow keys. If forge does the interpolation based on the created interpolate values on the NCW field, you see the issue when client takes ownership moves the cube and then the host takes back the ownership moves the cube and if the client th

[2019-01-30 19:18] bubleegames opened #229 "A little question"
Just a question is it possible to use Forge to build a complete server for this project
https://github.com/exmex/UnityMoba

[2019-02-01 22:59] CoreyHUN opened #230 "[Solved] Server doesn't show up after changing master Server Data"
### Version Number and Operating System(s):
27.01.19-20:00:44,13
Windows 10 (v.1809)
### Expected behavior:
Show server in the Server Browser

### Actual behavior:
Server doesn't show up.
Code stops at ServerBrowser.cs > Line 92

### Steps to reproduce:
Change the master server data after MultiplayerMenu.cs >Line 200

#### [Optional] Discord Username:

[2019-02-01 23:03] phalasz commented on #230
Discord username: @Corey#7494

[2019-02-01 23:21] phalasz commented on #230
Could you provide more detail please?
Does the server show up on the master server's command line output?

MultiplayerMenu.cs line 217 is a `{`. (https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blob/7fd06aaf8f937074f9b593091ce05c5cf5d13498/Forge%20Networking%20Remastered%20Unity/Assets/Bearded%20Man%20Studios%20Inc/Scripts/Multiplayer%20Menu/MultiplayerMenu.cs#L217)

[2019-02-01 23:40] phalasz commented on #230
Have you updated `ServerBrowser.cs` on line 16 to match the gameid to the above serverId you set?
The master server will only return hosts that have the same id.

[2019-02-01 23:53] CoreyHUN commented on #230
Nope, i did not! Thanks, that was the problem.

[2019-02-03 14:04] AbdelfattahRadwan opened #232 "RPCs with underscores in their names causes the NCW to remove it upon clicking their Behaviors' fields in it."
### February 03 2019 00:46:53 and Windows 10 Pro 64bit

### Expected behavior:

The RPC should not be removed.

### Actual behavior:

The RPC is removed and then, the next one takes its parameters.

### Steps to reproduce:

- Create a new behavior.
- Add an RPC.
- Name it, for example, Set_Mesh (that's what I used)
- Click save & compile.
- Open the NCW.
- Press on the behavior you created.
- The

[2019-02-09 19:53] AttackingHobo opened #234 "Multiplayer Menu ip address hard to read while typing"
### Expected behavior:
I click into the text box, I see the current text with enough contrast from the input field box to see what I'm typing

### Actual behavior:
I click the text box, the box gets highlighted near white, with white text on top. I have to blindly type the IP address

Potential Fix. Change the color of the highlight color, or the text file.

#### Discord Username:
AttackingHobo

[2019-02-15 06:35] devandart commented on #127
I don't know how AWS works, but did you try to open up the Ports of the NatHolePunch service?

[2019-02-18 10:01] phalasz opened #235 "In scene network objects are not initialized correctly when calling NetworkObject.Flush"
Issue created from a bug report in #forge-bugs on discord
### Version Number and Operating System(s):
Forge Version 11.02.2019 master

### Expected behavior:
When automatic scenes is disabled and switching scenes. On scene load calling flush should initialize all network objects that are already in the scene.

### Actual behavior:
Automatic Scenes is disabled in Forge's NetworkManager. I start a s

[2019-02-18 20:50] phalasz commented on #235
Seems to be not a bug. For in scene network objects the custom setup code will need to find and initialize all in scene NetworkBehaviors before calling Flush.

Not sure if something similar will need to be done on the client side as the example code provided only has server code.

[2019-02-18 20:56] ambocclusion commented on #235
I would love for NetworkManager.OnLevelFinishedLoading or NetworkManager.SceneReady to be exposed as public so I can rely on Forge's built in commands to ensure the scene is initialized properly for now and every future Forge release.

[2019-02-24 16:30] emrecelik95 commented on #127
I have the same issue. All ports are open in aws ec2 ubuntu vps (all traffic enable outbound and inbound in security group). Masterserver and NatPunchServer is running perfectly. I can host a game, also see my public ip in NatServer and MasterServer, but when I attempt to connect from other computer using different network, client cannot connect to the host. Actually there are no errors. In host g

[2019-03-06 12:04] Gentatsu opened #242 "localServerLocated callback not executing all code"
### Version Number and Operating System(s): Unity 2018.3.7f1 & Forge 25.01

### Expected behavior: Code in callback to work (Instantiating game objects or other 3D object manipulation)

### Actual behavior: Code does not get executed beyond trying to use any Gameobject references.

### Steps to reproduce:
Add callback to localServerLocated
Any code manipulating endpoint data works fine.
Try to Ins

[2019-03-06 12:15] NFMynster commented on #242
What's your Discord username? If you're on not there, I would recommend you to make an account. All support and such happens there and i would like to ask you some questions about this.
Else, we'll take it here

[2019-03-06 12:18] NFMynster commented on #242
Oh wait, you need to run it inside the main thread manager, as it's an Forge event.
https://github.com/BeardedManStudios/ForgeNetworkingRemastered/wiki/Running-Unity-Specific-Code-on-the-Main-Thread

[2019-03-06 13:34] Gentatsu commented on #242
I thought it might've been a main thread issue. Would it be possible to add a warning/error when code that requires main thread execution tries to execute on a separate thread?

I'll give it a try and let you know if it works. I'll also try make a Discord account!

[2019-03-06 13:37] Gentatsu commented on #242
I circumvented the issue initially by setting a boolean, and in the Update function, I set a timeout of 0.5 seconds for the UDP announcements, and perform my function then (showing a list of hosts).

I would rather just add each host on the callback, though!

[2019-03-06 13:53] NFMynster commented on #242
The Unity editor should have given you an error. Though, why not just use the MainThreadManager.Run() inside your event method? That should do it

[2019-03-06 14:08] Gentatsu commented on #242
No errors! I didn't know about the Main thread manager =P!

I did try it, and it's still not working!

I'm calling it using a lambda function: `MainThreadManager.Run(() => AddRow(endpoint));`, and it's giving me the same issue. Again, no errors!

[2019-03-06 14:09] NFMynster commented on #242
Can you show me the fullcode?

[2019-03-06 15:06] Gentatsu commented on #242
Debug.Log was in the example in the documentation, and runs fine.

When I wrap it up like in yours, none of it gets called.

[2019-03-06 15:41] NFMynster commented on #242
Join the Discord and let's have a chat

[2019-03-09 09:25] Gentatsu commented on #242
Issue was asset store version. This works in the latest of master branch release.

[2019-03-09 09:25] #242 closed

[2019-03-15 14:03] RYG81 opened #245 "Need to know number of players connected at same time"
Sorry my question is little general
I just want to know how many players can be connected to a single server at the same time? My game is not a big environment where we have to calculate transforms of all players and sync. It's more like a simple screen with lots of sliders and game objects where a player just need to get updates of different values related to those game objects and sliders and te

[2019-03-15 15:04] NFMynster commented on #245
Please join the Discord, where all support happens! You can find the link in the read me.

[2019-03-16 08:14] scc172fly opened #246 "7 warnings"
Hello, the project has made better progress during this period of time. I am very optimistic about this project, and I am using it to make my game. However, I am more ocd, source code imported into Unity there are 7 warnings. Thank you for this great project.

[2019-03-16 08:46] NFMynster commented on #246
Hello, I only get a single one, which warnings are we talking about?

[2019-03-17 17:10] #245 closed

[2019-03-17 17:12] #230 closed

[2019-03-18 07:53] RYG81 commented on #245
ok. I joined and put my question on discord.
Hope to get some help asap.

[2019-03-18 17:51] phalasz commented on #235
I guess the changes made to the NetworkManager in #236 are enough to make this work on custom solutions as the `SceneReady` can now be called as access to it has been changed.

[2019-03-18 17:51] #235 closed

[2019-03-18 17:54] phalasz commented on #211
Can someone with the powers close this issue? There were no more reports of this and the ticket has been open for quite some time now with a fix merged.

[2019-03-18 17:54] phalasz commented on #141
Can someone with the powers close this issue? There were no more reports of this and the ticket has been open for quite some time now with a fix merged.

[2019-03-18 18:24] #141 closed

[2019-03-18 18:30] mcguinnessdr commented on #234
The multiplayer menu is just an example you can modify or replace depending on your needs.  If you're not happy with the color of the text you can just change it to what you prefer.

[2019-03-18 18:30] #234 closed

[2019-03-19 07:29] Crazy8ball commented on #246
Latest of master should have no more warnings. Please open this if you have them showing up again.

[2019-03-19 07:29] #246 closed

[2019-03-20 20:34] conan1987 opened #250 "Chat program isn't working in android"
I followed the tutorial to build chat program and it works fine in editor and windows but it doesnt work in android .
### Version Number and Operating System(s):
 V24.3 , Android

[2019-04-01 19:22] emrecelik95 opened #254 "NCW RPC Naming Has Wrong Characters"
### Version Number and Operating System(s):
Windows 10 Home Single Language 64 Bit
Windows Version : 1803
Unity Version : 2018.3.10f1

### Expected behavior:
Save&Compile rpc into generated file correctly

![image](https://user-images.githubusercontent.com/33811689/55353032-00cc6400-54cb-11e9-95a7-a0c58ce45418.png)

![image](https://user-images.githubusercontent.com/33811689/55353089-20fc2300-54cb

[2019-04-01 19:37] phalasz commented on #254
Correct Discord username is @Paynoma#9691

[2019-04-01 19:40] emrecelik95 commented on #254
@phalasz thanks for the solution, it worked!

[2019-04-13 05:15] smkplus opened #256 "Sending Array in RPC Forge"
How can I send array in forge?
for example I need Vector3[ ]
![unknown](https://user-images.githubusercontent.com/16706911/56075009-df278280-5dd0-11e9-9c40-eb33a1847626.png)

[2019-04-13 07:40] NFMynster commented on #256
Make it a serializable class and serialize it into a byte array. You can join the Forge Discord for help and support incase

[2019-04-13 12:41] smkplus commented on #256
@NFMynster this is mean I shouldn't send vector3 array inside network? how can I convert vector3[ ] to byte[] ?

[2019-04-13 21:44] grimmdev opened #257 "Standalone Server and RPCS"
### Version Number and Operating System(s):
3/10/2018 - Windows 10 64bit

### Expected behavior:
Sending buffered RPC

### Actual behavior:
Doesn't send any buffered RPC

### Steps to reproduce:
Using the standalone server example, add an rpc to the basic cube, then copy the changes in the network object script over to the server.

[2019-04-13 22:18] NFMynster commented on #257
If you're not on the Forge Discord, please feel free to join so we can elaborate this issue

[2019-04-13 22:38] #256 closed

[2019-04-14 16:54] phalasz commented on #132
Could this issue be closed now? It's been open for more than a year and @WhelanB added a fix that should have resolved this.

[2019-04-14 16:54] #132 closed

[2019-04-14 16:55] phalasz commented on #152
Can this be closed now as there was a fix merged in to resolve this issue?

[2019-04-14 17:45] phalasz commented on #80
Is this still an issue? Can this be closed now?

[2019-04-14 17:52] phalasz commented on #66
Is this still an issue? Can this be closed?

[2019-04-14 17:54] phalasz commented on #41
Is this still an issue? Can this be closed?

[2019-04-14 17:54] #41 closed

[2019-04-14 17:54] phalasz commented on #29
Is this still an issue? Can this be closed?

[2019-04-14 17:55] phalasz commented on #38
Is this still an issue? Can this be closed?

[2019-04-14 17:59] phalasz commented on #145
Is this still an issue? Can the ticket be closed?

[2019-04-14 18:09] #145 closed

[2019-04-14 18:10] NFMynster commented on #29
@Fashdey Still using Forge?

[2019-04-14 18:13] phalasz commented on #211
No activity on this ticket since the fix, so this can be closed now.

[2019-04-14 18:14] phalasz commented on #131
As far as I can tell this is by design for fields that have interpolation enabled.

[2019-04-14 18:15] NFMynster commented on #131
_It's not a bug, it's a feature?_
Though, should it be working like reviewer expects?

[2019-04-14 18:56] phalasz commented on #131
I don't know if it should work like that, all I can say that the interpolated fileds are purposefully not triggering the `OnChanged` event.

To be more specific this is the template part that generates this for all NetworkObjects: https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blob/master/Forge%20Networking%20Remastered%20Unity/Assets/Bearded%20Man%20Studios%20Inc/Editor/Resources/

[2019-04-14 18:58] phalasz commented on #131
Actually, maybe if we move the commented out call from https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blame/master/Forge%20Networking%20Remastered%20Unity/Assets/Bearded%20Man%20Studios%20Inc/Editor/Resources/BMS_Forge_Editor/NetworkObjectTemplate.txt#L140 to arounf Line 120 would solve this?

[2019-04-14 19:00] NFMynster commented on #131
I've had a doubt that it might be because it's interpolated, but really non linearly, so the target value is actually never reached, which might make the event invoked a bunch of times. Ie float target is 100, actual value is 99.99999 because of the update-lerp.

[2019-04-14 19:02] phalasz commented on #131
Imho it is correctly commented out in `InterpolateUpdate`, but it could be added to `ReadDirtyFields`?

[2019-04-14 19:03] NFMynster commented on #131
Ah yeah regarding what I said, this seems to be taken into account with the UnityNear thingy. Just like doing an Mathf.Approx

[2019-04-14 19:46] #211 closed

[2019-04-15 02:39] Fashdey commented on #29
Haven't been using Forge for more than a year, so I can't tell.

On Sun, 14 Apr 2019, 20.10 Niels-Ferdinand Mynster, <
notifications@github.com> wrote:

[2019-04-15 09:49] julienkay opened #260 "BMSByte array length differs from length of input byte array."
### Version Number and Operating System(s):
v26 (latest Asset Store version) - Windows 10 64bit

### Expected behavior:
When creating a BMSByte using Clone() or Append() the resulting byteArr in the BSMByte object should have the same length as the data that was passed into the Clone() or Append() method.

### Actual behavior:
The resulting byteArr is actually 1 byte larger.

### Steps to reproduc

[2019-04-16 15:49] phalasz commented on #260
@julienkay what does `forgeByteArray.Size` say?

The +1 is to make sure the internal buffer is large enough to put the input array into whe the internal size is smaller then the input array lenght.

If you were to do
[code]
Then `forgeByteArray.CompressBytes().Length` should be the same as `testInput.Length`

[2019-04-17 08:10] #260 closed

[2019-04-17 09:08] phalasz commented on #220
Would it be possible to proved a simple project that reproduces the issue @adrianhoppe ?

[2019-04-17 09:15] phalasz commented on #209
@Hoijima is this still an issue?

[2019-04-17 09:16] phalasz commented on #196
@honda2 is this still an issue or has the fix resolved it for you?

[2019-04-17 09:24] phalasz commented on #173
@Karmelov do you have a small project that reliably reproduces this isseu?

[2019-04-17 09:27] phalasz commented on #180
@NFMynster :point_up:

[2019-04-17 09:29] phalasz commented on #160
Is this still an issue? Can this be closed?

[2019-04-17 09:31] NFMynster commented on #180
Closing until I can properly reproduce. Too many unknowns, since ip parsing have been fixed since as well. Ty for bump.

[2019-04-17 09:31] #160 closed

[2019-04-17 09:35] phalasz commented on #142
No activity on this issue for quite some time. Could it be closed?

[2019-04-17 09:39] phalasz commented on #133
Should I add the MIT license as a header to the files as well or will the merged changes be enough @BrentFarris ?

[2019-04-17 17:13] adrianhoppe commented on #220
Hey,
sadly right now I am very busy with work and won't be able to provide you a minimal working project.
The project where we found the issue is way too large to strip down. However, I hope that the steps to reproduce are detailed enough to replicate the issue.
Best,
Adrian

[2019-04-18 06:34] PyeonggukLee opened #261 "Exception happens in NetworkingPlayer"
### Version Number and Operating System(s):
I don't know exact version number(where can I find it out?)
Windows 10 64bit

### Expected behavior:
There's no exception when a client disconnects from the server.
(after that exception, the server seems like it works well without any problems.)

### Actual behavior:
There's exception when a client disconnects from the server.
[code]

---
**NetworkingPl

[2019-04-18 13:38] ilsanto17 opened #262 "error view player"
Good evening, I have a problem with the integration of forge and dissonance on unity. The steps I do are these:
- Start server on linux;
- Start multiplayermenu scene and click on host;
- Start the client (from another pc) server browser scene;
At this point I see 2 users from the client PC while I see 3 users from the PC server. Why?

[2019-04-18 13:41] JuDelCo commented on #262
Server has it's own client / player, to get the real client count connected to the server do:

`netWorker.Players.Count - 1`

[2019-04-18 13:55] phalasz commented on #262
The client only knows about itself and the server, so the count on clients will always be 2. The server will always have the correct connected count.

[2019-04-18 13:59] ilsanto17 commented on #262
I connect 2 people. On the app where I clicked host, however, I see 3 people. But we're actually connected in two.

[2019-04-18 14:06] phalasz commented on #262
Could you provide more information? A project to reproduce this?

[2019-04-18 14:18] ilsanto17 commented on #262
https://drive.google.com/open?id=1_nUUsss1vN5Z0-uiftsTr0_NcvGvJOXQ
https://drive.google.com/file/d/1TLxB_c6-jGvNwc64C4iFjOItUTOcj7tN/view?usp=sharing

[2019-04-18 16:44] phalasz commented on #262
thanks. someone will have a look.

[2019-04-20 08:15] BrentFarris commented on #133
@phalasz We can add the license to the files as we go we don't have to take too much time to do all of them in one go, but it would be nice so that people are aware that the code is okay to use and doesn't need the "heavy development" warning, that message was super old, like well before FNR was cleaned up to go out for people to use.

[2019-04-20 08:17] BrentFarris commented on #261
Ah! LINQ expression, I need to update that haha. Also thanks for the report, replacing the first with an actual for loop should solve this right up :)

[2019-04-20 08:34] BrentFarris commented on #261
This is resolved by this PR:  https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/263

[2019-04-20 08:35] #261 closed

[2019-04-20 08:47] BrentFarris commented on #250
What is the second platform you are testing in the chat with Android?

[2019-04-20 08:50] BrentFarris commented on #257
Was this conversation followed up in Discord?
If not, I know this might be a dumb question, but was the RPC using one of the `Receivers::...Buffered` enums?

[2019-04-20 08:53] BrentFarris commented on #232
@Crazy8ball When you have a moment can you look into this bug?

[2019-04-20 09:30] BrentFarris commented on #131
So I know this was commented out because of some issues at one point. Also we **do not** want to call it every update for sure. There are 2 schools of thought about this particular question though:

1)  Raise event when network gives new value
2)  Raise event after interpolation to the new value has occurred

Dictating which one is correct might not be helpful to people, but perhaps we can provide

[2019-04-20 09:39] phalasz commented on #131
Having a pre and post event sounds good and would definitely give people options and flexibility.

[2019-04-20 18:45] phalasz commented on #262
@ilsanto17 what do you mean on the host you see 3 people? How do you check? When someone connects do you instantiate a player for them or how does this shared project work?

[2019-04-20 19:51] #38 closed

[2019-04-23 07:40] ilsanto17 commented on #262
The main player starts the main mennu and clicks on host. The other players start the browser server and see that a host has been created and click on it. Client side (browse server) all ok. while the first player sees 3 players. For now the procedure is done by hand. In the sense that I start the main menu and the game scene on a machine. on the other machine I start the browser server and the ga

[2019-04-23 09:55] phalasz commented on #262
okay, but I don't see more then one car object even though I have a host and a client connected. Is that  expected?

[2019-04-23 11:54] PyeonggukLee opened #264 "A client disconnects from the server, another client got disconnected."
### Version Number and Operating System(s):
don't know the version but latest upstream/develop merged.
Windows 10 64bit

### Expected behavior:
when a specific client disconnects from the server, that client should be disconnected, not another.

### Actual behavior:
when client A disconnects from the server, client B got disconnected from the server. (messed up)

### Steps to reproduce:
https://gi

[2019-04-24 23:45] TheSeanLavery opened #265 "UDP LAN Discovery fails on OSX"
EDIT: It works in Unity 2018. Seems to be related to the mono version of Unity 2017

### Version Number and Operating System(s):
Current Master and DEV. OSX

Edit: Unity version is 2017 LTS
API compatibility is Mono 2.0 Subset

### Expected behavior:
Tick "Get Local Network Connections" in MultiplayerMenu.unity
Build and host server.
Run game in unity editor.
See IP address of discovered host prin

[2019-04-25 08:40] phalasz commented on #265
Interesting as I don't have that issue. I am working on upgrading the multiplayer menu to automatically list local games and potentially master server games in a list.

Are you running both the client and host on OS X?

[2019-04-25 21:41] AttackingHobo commented on #265
Here is a fix with platform dependent compilation. Don't know if these changes will break under specific conditions. So someone might want to take a look at this, and see if this is good enough, or if there is a better solution.

https://hastebin.com/kitogigata.cs

[2019-04-25 23:17] phalasz commented on #265
Note: @AttackingHobo confirmed on discord that Unity 2018 does not have the same issue.

It seems to be a problem with the version of mono shipped with earlier versions of Unity.

[2019-04-28 11:35] phalasz commented on #209
No activity on the issue for a long time. Closing. Please let open a new issue if this is still a problem.

[2019-04-28 11:35] #209 closed

[2019-04-28 11:36] phalasz commented on #196
Closing as a fix has been provided.

[2019-04-28 11:36] #196 closed

[2019-04-28 11:36] phalasz commented on #152
Closing as a fix has been provided.

[2019-04-28 11:36] #152 closed

[2019-04-28 11:39] phalasz commented on #265
Issue introduced by PR #227

[2019-04-29 09:52] PyeonggukLee commented on #264
more info I found from testing:
Calling **UDPClient.Disconnect(true)** makes the problem.

How I've tested this issue:
when ESC key pressed, calling below:
[code]

[2019-04-30 08:26] uneedtee opened #267 "il2cpp error"
### Version Number and Operating System(s):

Windows 10, Unity3D  2018.3.14f1, Forge Version 03/10/2018 19.53.38,04

### Expected behavior:

Should build with il2cpp

### Actual behavior:

Exception ... il2cpp did not run properly!

### Steps to reproduce:

Create New Empty Project with Unity
Add Forge from Asset Store (or GitHub, same error)
Open scene MultiPlayerMenu
Alter ProjectSettings includ

[2019-04-30 08:35] ilsanto17 commented on #262
hello, sorry for the delay in replying. What do you mean?

[2019-04-30 10:54] NFMynster commented on #267
What errors are you receiving? Remove your TCP websockets file and it should be good.

[2019-05-06 07:43] uneedtee commented on #267
Thank you, removing TCP websockets file helped. Was that behavior already mentioned before? Found topics only relating to webgl builds, but i was building for android. Thx again!

[2019-05-07 17:33] theWill commented on #105
phalasz commit above was never verified working. This enhancement is still an open issue with no current solution.

[2019-05-10 08:44] PyeonggukLee commented on #80
@phalasz I think this didn't get fixed yet.
I've had a same/similar problem as this issue, so made a fix for this:
https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/270

the related issue as I guess: #107

[2019-05-11 00:21] #267 closed

[2019-05-12 18:26] phalasz commented on #262
I mean that the client is not getting it's own object to control, just the host has one.

[2019-05-12 18:29] phalasz commented on #142
No activity on the issue for a long time, closing.

[2019-05-12 18:29] #142 closed

[2019-05-12 18:32] #29 closed

[2019-05-18 17:00] Balroth commented on #122
Was looking into the docs, this info seems interesting but it is completely missing from the docs (github)
Do you have the text of it so I can polish/update it and put it there?

I was thinking of making a new page that is about making a custom/generic networkObject factory, and the previous info of that page above should help

It was more or less information shared by DJV in #beginner-questions,

[2019-05-19 23:12] phalasz commented on #203
In my tests code execution on the late joining client won't even get to NetworkBind.

In `NetworkManager.SceneReady` if calls `NetworkObject.Flush` but the list of pending network objects is 0 so nothing willl happen and the behaviour will be stuck in the pending behaviour list.

This is on latest develop branch.

[2019-05-19 23:43] phalasz commented on #203
@k77torpedo would you be able to check that the fix in the linked PR fixes the issue for you?

[2019-05-20 09:59] EvgenNechyporuk commented on #203
PR solved the problem! It works correctly. Thank you very much!

[2019-05-21 17:19] k77torpedo commented on #203
@phalasz yea in the example attached the issue has now been resolved. When the server has deleted a NetworkBehavior that has been placed inside the scene via the Unity-Editor and another client connects the NetworkBehavior on the client will now be properly deleted! Awesome thank you! :)

I unexpectedly had to hit the road yesterday so I can't make a PR myself but 2 suggestions: initialize the lis

[2019-05-21 20:10] phalasz commented on #203
Awesome. I'll PR your suggestions.

[2019-05-21 22:19] EvgenNechyporuk opened #274 "InvalidCastException: Specified cast is not valid. when connection through Steam"
### Version Number and Operating System(s):
03/10/2018-19.53.38,04  Windows 10 64bit

### Actual behavior:
When the initial connection through Steam, get many of the same errors on each network object.

InvalidCastException: Specified cast is not valid.
BeardedManStudios.Forge.Networking.NetworkObject..ctor (BeardedManStudios.Forge.Networking.NetWorker networker, System.UInt32 serverId, BeardedMan

[2019-05-21 22:24] phalasz commented on #274
Could you create a PR for the solution as that was clearly missing from there where you put it.

[2019-05-21 23:04] EvgenNechyporuk commented on #274
done

[2019-05-29 15:38] theWill commented on #104
I am interested in implementing this feature. I remember trying before and sending a string as part of the struct sent during RefreshLocalUdpListings was not sufficient to solve this. Anyone have some guidance here?

[2019-05-29 20:49] phalasz commented on #104
I'll just put this here too so people coming here will know that we have already discussed this on discord pointing out the PR that is linked above your comment.

[2019-06-01 08:27] GiviMAD opened #277 "MasterServer params not working"
I'm using latest master server build. I'm not able to configure the port passing command arguments. I think the check on Program.cs is wrong, it check if the arguments dictionary contains "port" but instead it should look for "-port" because the argument parse function doesn't seems to remove the "-" from the key
### Expected" behavior:
Use provided port

### Actual behavior:
Use default port

###

[2019-06-03 22:34] phalasz commented on #203
@k77torpedo I've added a new PR with the above proposed changes.

[2019-06-07 23:15] NFMynster commented on #203
@k77torpedo can you retest this?
Ah well, seems the fix is confirmed, lemme know and I'll close this issue

[2019-06-07 23:15] NFMynster commented on #250
Bumb @

[2019-06-07 23:15] #250 closed

[2019-06-07 23:16] NFMynster commented on #257
Bump @grimmdev

[2019-06-08 08:56] rayuthebest opened #282 "Exception triggered when leaving a server and reconnect to it"
### Version Number and Operating System(s):
Library at Develop @26/05/2019
Windows 7
Unity version: 2017.4.27f1

### Expected behavior:
When a client leave a server and he rejoin after some minutes, game should be reload

### Actual behavior:
An exception is triggered on NetworkBehavior at ProcessOther method. Due to this exception, game is not loaded correctly.

### Steps to reproduce:
Server is

[2019-06-08 10:27] phalasz commented on #282
You need to properly disconnect your client by using NetworkManager.Disconnect()

[2019-06-08 11:01] rayuthebest commented on #282
Hi, I tried it but it does not work.

I got the next method on my NetworkManager:

[code]

And I call it when player press on the "Go to Main Menu" Button:

[code]

[2019-06-09 01:20] Balroth commented on #80
Pretty sure this can be safely closed, since @PyeonggukLee 's fix #270 , was merged into the master branch

[2019-06-09 09:34] phalasz commented on #274
Fix has been merged into `develop`

[2019-06-09 09:34] #274 closed

[2019-06-09 09:50] phalasz commented on #282
Without seeing your code it is hard to tell what is wrong. From the comments it seems that you are making custom functionality that is not from Forge itself and you are getting issues because of that.

The easiest would be for you to join our discord where you could get more immediate help from the community.

[2019-06-09 10:09] #80 closed

[2019-06-09 10:12] phalasz commented on #66
Closing as there was a fix that was merged and the issue had no activity for a long period of time.

[2019-06-09 10:12] #66 closed

[2019-06-09 16:11] PyeonggukLee commented on #80
I think #107 is the identical one with this issue.

[2019-06-09 18:27] rayuthebest commented on #282
Here is the code that I customized respect to the provided example.

Of course, I have set some RPC method for my game (using the wizard), but I have not modified the generated code, so I believe that the problem is at this class.

Bassically, I am trying to make a wraparound of your NetworkManager class, merging on a common point all functionality related with the Server & Clients.

Sorry to send

[2019-06-11 12:22] phalasz commented on #105
Please ignore the referenced commit as it is not working and was just a test to be improved on, but turned out to be a dead end implementation/

[2019-06-23 13:21] phalasz commented on #203
Fix has been merge and no further activity. Closing issue.

[2019-06-23 13:21] #203 closed

[2019-06-23 13:23] phalasz commented on #173
Could someone check whether PR #270 fixes this as well?

[2019-06-24 03:51] PyeonggukLee commented on #203
For me, patching this commit destroyed the networked game objects in a scene, so I reverted this commit from our dev repo.

[2019-06-24 10:11] phalasz commented on #203
Would you be able to provide more information on this? Ideally with a small project that reproduces the issue?

[2019-06-27 19:23] jussilehtinen opened #290 "Pending RPC call does not respect all the given parameters"
Seems that when calling buffered RPC in server during startup, it resolves to Pending RPC call.
However it seems that when the call is finally delivered, all given parameters are not respected.

Attached a patch that fixes this issue, you might want to consider checking it out.

[network_local_pending_rpc_fix.txt](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/files/3336348/network

[2019-06-27 20:02] phalasz commented on #290
Could you submit this as PR please?

[2019-07-02 20:47] Brainversation opened #293 "Older Version of Unity - 5.5.4f1"
Hello,

I was hired to substitute Forge for another networking solution in an earlier version of Unity. I noticed on the Asset store that Forge requires Unity 2018.2.9 and the project I will be working on is in version 5.5.4f1.

I have imported the Nightly Master Branch package into a blank Unity 5.5.4f1 project and there aren't any errors so far and want to make sure that I am not missing any fun

[2019-07-02 22:03] NFMynster commented on #293
You might miss out on some Steam implementation, as you probably are still using dotnet 3.5.
@phalasz - Steam is 4.x yeah?
Else, you should be all good. It would not compile or similar if you were missing out.

[2019-07-02 22:09] Brainversation commented on #293
Thank you for your quick reply @NFMynster

I didn't know about the Steam issue, but I think it should be fine. ( I will post here if I have any update on that )

I also just tested the "Basic Moving Cube Example" in the Getting started section and everything seems to be working.

Just wanted to make sure I wasn't missing anything.

Thank you again.

[2019-07-03 05:43] NFMynster commented on #293
I would join the official Discord if I were you. Most support happens there and the reply times are faster.
But yeah, you should be all good.

[2019-07-03 05:43] #293 closed

[2019-07-05 15:48] phalasz opened #296 "Extract common transport functionality into a base class or something similar"
The different transports have a lot of common functionality. It would be best to try and extract those into a place where all transports can reference them. Eg. the recent code cleanup on the UDPClient and server's changes and the Networker changes broke the Steamworks integration. While making sure that the integration works again I noticed that there is a lot of common code.

This would potentia

[2019-07-05 17:56] Brainversation commented on #293
Thank you again!

[2019-07-06 00:55] BrentFarris commented on #290
PR for this found here:  https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/297

[2019-07-06 01:22] #290 closed

[2019-07-07 14:31] Balroth opened #299 "[Documentation] Contributing coding standards"
Seeing this https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blob/master/CONTRIBUTING.md
I just wanted to ask, what about single-line iteration statements?

[code]
or this applies?
[code]

@BrentFarris

[2019-07-08 01:28] BrentFarris commented on #299
Thanks for asking. I would say that the second one is better because it relates to an infinite loop and infinite loops should be exceptionally clear to the reader. I will update the contributing document to mention while loops, do loops, and for(;;) loops to be code blocks.

[2019-07-08 01:31] BrentFarris commented on #299
https://github.com/BeardedManStudios/ForgeNetworkingRemastered/commit/3e106b6d53966d4ac3b3490b277edc6696d12aeb

[2019-07-08 01:31] #299 closed

[2019-07-11 15:38] j-santander opened #300 "Visual Studio Builds do not work"
### Version Number and Operating System(s):
git clone from master

Windows 10.
### Expected behavior:
Following the build instructions for "Git Source Code (Built)" in [Getting-Started](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/wiki/Getting-Started#installation)

### Actual behavior:
The build fails, complaining about missing files in `ForgeNetworkingRemastered/BeardedManStudi

[2019-07-11 18:12] phalasz commented on #300
We moved away from built dlls. Please use source directly.
Thanks for reminding me. I have now updated the wiki and remove the built dlls option from getting started.

[2019-07-11 18:12] #300 closed

[2019-07-16 08:59] eusebiu opened #301 "Support for WINDOWS_UWP"
### Version Number and Operating System(s):
Latest from AssetStore or master (Unity folder)

### Expected behavior:
Use the Forge asset as on Standalone/x64 platform

### Actual behavior:
Unable to build UWP player.

### Steps to reproduce:
- Add Forge to project
- Switch UWP platorm in Player settings
=> errors in Unity Console (Unfortunately, too many to write here)

I tried removing all WINDOWS

[2019-07-16 09:04] NFMynster commented on #301
https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/292
UWP is sadly not supported anymore.

[2019-07-16 09:55] NFMynster commented on #301
Though, remove the TCPClientWebsockets class to make it compile to IL2CPP. Looks like a few of those errors are because of that.

[2019-07-18 06:50] leiunn opened #302 "Use outside of unity"
### Version Number and Operating System(s):
git clone from master

Windows 10

### Expected behavior:
I wanted to use Forge Networking Remastered outside of a Unity project (as mentioned in the readme).

### Actual behavior:
Since the decision to move away from building ddls and moving most of the files to another place it seems that you can not use it without unity any longer.

If I'm wrong pleas

[2019-07-23 19:43] eusebiu opened #305 "Entering late to the session"
### Version Number and Operating System(s):
Latest from AssetStore or master (Unity folder)

### Expected behavior:
I am creating a scenario with one player entering **late** to the session. So, I would expect that the Instantiated objects to be recreated and sometimes they are. But sometimes they are not and I see this exception in the console.

### Actual behavior:
Get exception:
MissingReferenc

[2019-07-23 22:38] phalasz commented on #305
Could you provide an example project that reproduces this error please?

[2019-07-24 06:00] eusebiu commented on #305
Not at the moment as I am really busy with my project. :(
Any first ideas why this might happen?

[2019-07-24 06:31] NFMynster commented on #305
Make sure you unsubscribe from any possible event you might be using.

[2019-07-25 20:43] eusebiu commented on #305
I think I found one possible reason - I noticed that the `var go = Instantiate(MySyncObjectNetworkObject[obj.CreateCode]);` is called before OnSceneUnloaded => So, the network object is created in a dying scene.

Some context: I am trying to reuse the scene when setting up the multi-player environment (i.e. there is no scene where the IP address and port are entered and with Host/Join button).
The

[2019-08-02 09:07] phalasz commented on #277
@GiviMAD we just merged a fix into the develop branch. Would you be able to check that command line arguments now work as expected?

[2019-08-03 14:36] qq1054599715 opened #309 "we need interface to Customized load networkobject"
Now in the NetworkManager code, NetworkObjects are loaded directly into memory when game start. Can God provide interfaces for users to implement custom loading NetworkObject?

It's too difficult for me to modify the NetworkManager template.

[2019-08-03 15:03] NFMynster commented on #309
Could you explain the scenario for what you want to do?

[2019-08-03 15:10] qq1054599715 commented on #309
Some networkobjects are loaded from the assetbundle, and I can't drag them directly into the NetworkManager prefab‘s instantiation list.

[2019-08-03 16:05] qq1054599715 commented on #309
need help...
client send a rpc message  to standalone server,how to set the server deal the rpc message?

[2019-08-19 17:35] phalasz commented on #305
Which instantiate call? This?
`networkManager = GameObject.Instantiate(NetworkManager).GetComponent<NetworkManager>();` ?

[2019-08-19 20:32] eusebiu commented on #305
I am referring to this code:
var go = Instantiate(MySyncObjectNetworkObject[obj.CreateCode]);

Unfortunately, I cannot share the code... :(

[2019-08-19 20:48] NFMynster commented on #305
You closed the issue, did it fix it using the network manager's instantiate?

[2019-08-19 20:54] phalasz commented on #305
Can you give use a simple barebones example that reproduces this issue? We are not looking to see your whole project just a simple example that showcases the issue so we can fix it or advise on how to not run into it.

[2019-08-19 21:05] eusebiu commented on #305
Sorry, I did not want to close it.
I "fixed" it by waiting for the Camera to be instantiated (?). In my Player network object NetworkStart, I start listening for some commands to be synced which are related to the MySyncObjectNetworkObject (e.g. a load command creates an instance of MySyncObject which is synced using Forge).
Using that if (Camera.main) condition somehow ensures that the scene and

[2019-08-19 21:14] NFMynster commented on #305
Do you reference the camera anywhere in network start? Are you using IL2CPP?

[2019-08-19 21:24] eusebiu commented on #305
No. If I remember correctly there was a random occurring error which was due to missing Camera but in a completely different location (I guess also because scene reloading).
Not using IL2CPP.

[2019-08-20 09:10] phalasz commented on #305
If you are happy that it is solved then feel free to close this issue.

[2019-08-20 09:12] phalasz commented on #309
Could you show us code? Also you might get faster response and help on our discord.

[2019-08-20 09:12] eusebiu commented on #305
Thanks for your quick answers, nevertheless! :)

[2019-08-20 09:12] #305 closed

[2019-08-20 09:21] NFMynster commented on #107
Fixed with PR #297
More info on #80

[2019-08-20 09:21] #107 closed

[2019-08-20 09:59] #277 closed

[2019-08-20 10:00] phalasz commented on #277
No response on ticket for a long time. Fix has been merged in.

[2019-08-20 10:07] phalasz commented on #282
May I suggest sending huge chunks of code via pastebin/hastebin/gdl paste etc. Also help on our discord is usually quicker.

[2019-08-20 10:39] phalasz commented on #104
Fix in PR #266 has been merged.

[2019-08-20 10:39] #104 closed

[2019-08-20 11:29] NFMynster commented on #301
Closing, reopen if needed @eusebiu

[2019-08-20 11:29] #301 closed

[2019-08-27 10:22] phalasz opened #314 "Proximity Checks when multiple objects are owned by the server"
### Version Number and Operating System(s):
Latest master and develop

Currently proximity checks are done based on the sending and receiving player's proximity location.
This setup works fine if the server only owns one object. Eg. in a listen server setup where each client has one network object it owns.

This setup on the other-hand would not work if the server would own multiple objects as the

[2019-08-31 15:58] LijpeLynn opened #317 "InvalidCastException"
### Version Number and Operating System(s):
Forge Networking Remastered Version 03/10/2018-19.53.38,04
Unity 2018.3.8f1 Personal

### Expected behavior:
The client joins without an InvalidCastException.

### Actual behavior:
The client joins with an InvalidCastException, this error refers to the SyncPlayerNetworkObject.
As a result the clients game experience is not what it should be.

### Steps t

[2019-09-02 17:19] roa-nyx opened #318 "Only tries to connect once"
### Version Number and Operating System(s):
Version 26 from the asset store (Mar 20, 2019), Windows 10 1903

### Expected behavior:
Attempt to connect to server 10 times with 3 second delays between attempts. If server is unreachable trigger `connectAttemptFailed` event on UDPClient.

### Actual behavior:
[code]

Attempts to connect once, a SocketException occurs in `UDPClient.ReadNetwork`, which

[2019-09-02 17:23] andreivreja commented on #318
Already fixed in https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/315

[2019-09-02 17:28] roa-nyx commented on #318
@andreivreja thanks for the quick response! I'll apply that patch to my code in the mean time.

[2019-09-02 17:28] #318 closed

[2019-09-11 09:07] Cerzi opened #322 "CubeForgeGame example not working - connection not registered and and clients time out"
### Version Number and Operating System(s):
Windows 10
[code]
### Expected behavior:
Building CubeForgeGame and starting two instances with one hosting and the other connecting should show Players:2

### Actual behavior:
The player count stays at 1 after the client connects.  The time is synced correctly with the server, however.
After a minute or so, "Player 1 timed out" appears in console.
If ot

[2019-09-11 09:21] phalasz commented on #322
Unity version?

[2019-09-11 09:37] Cerzi commented on #322
Updated

[2019-09-11 09:47] Cerzi commented on #322
Narrowed the problem down to appearing between develop merge pull request https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/265 and https://github.com/BeardedManStudios/ForgeNetworkingRemastered/pull/266

[2019-09-12 14:54] Cerzi opened #324 "[develop] Sending 60 reliable RPCs per second breaks the system but does not in Master"
### Version Number and Operating System(s):
Windows 10 64-bit
Unity 2018.4 / 2019.2 https://github.com/BeardedManStudios/ForgeNetworkingRemastered/commit/b69d15bf34598e2f498c70bf735cc11ec0aa6543

### Actual behavior:
Attempting to send 1 reliable RPC per FixedUpdate causes the system to overflow and no further RPCs can be sent

### Steps to reproduce:
Clone this fork: https://github.com/Cerzi/Forg

[2019-09-16 13:06] Cerzi opened #328 "SQP requires nat punchthrough to work outside of LAN (ie with master server list)"
### Version Number and Operating System(s):
b69d15bf34598e2f498c70bf735cc11ec0aa6543

### Expected behavior:
Loading a list of servers via a master server list should show game name, player count, ping etc

### Actual behavior:
Instead shows "Server Offline". The game can still be connected to as normal using NAT punchthrough

### Steps to reproduce:
In settings disable LAN discovery and enable ma

[2019-09-16 13:32] phalasz commented on #328
Well on all dedicated server setups you would open the correct ports without the need for any nat hole punching. This is something that would affect client hosted instances (listen servers).

One option would be to continually poll the master server that has the info as well in case it is a server from there and not a lan discovered one.

[2019-09-16 14:15] Cerzi commented on #328
Yeah sorry, this is specific to non-dedicated servers such as the cube example game (and my own one hehe)

Do you recommend writing additional logic to sit on the master server (alongside the MasterServer and NatPunchThrough dlls) then - or can it be handled by extending TCPMasterClient perhaps?

Not too familiar with this stuff yet but I've noticed right now the NAT punchthrough implementation is

[2019-09-16 15:17] phalasz commented on #328
hmm, not sure, I'll have a think on approaches.

[2019-09-17 09:35] phalasz commented on #324
@BrentFarris would you be able to have a look please?

[2019-09-17 13:56] phalasz commented on #328
I don't think making sure that a host behind nat and a client behind a different nat can connect is the responsibility of the master server.

This should potentially sit with the NATHolepunch server or something similar although handling this kind of connection is a bit different to how the UDP implementation is done.

Looking at section 4 of https://bford.info/pub/net/p2pnat/ it might be a bit mo

[2019-09-22 07:05] #126 closed

[2019-09-22 09:14] edunad commented on #324
Had the exact same problem, like @cerzi said, it's a bad idea to send reliable but it's working fine on master

[2019-10-04 16:22] SixWays commented on #265
LAN discovery also seems to fail on Android, on Unity 2018. I've not been able to test with the commit prior to PR #227 being merged to see if it was working before that.

[2019-10-23 07:37] dummyghost opened #333 "Register not working"
Hello BeardedManStudio,

I am not able to Register on your website.
I have filled all of the details and i have got an email containing a link and when i open the link it says server ip address could not be found  ERR_NAME_NOT_RESOLVED.
Link: https://beardedmanstudios.com/join-us/registration/

And when i register using https://developers.forgepowered.com/Register this site it shows blank white sc

[2019-10-23 07:43] NFMynster commented on #333
Hello, firstly, the site is not used any more, everything is open source. You can get direct support from the Discord, which is linked on this repository's readme :)

[2019-10-23 07:57] dummyghost commented on #333
ok Thanks

[2019-10-23 07:58] #333 closed

[2019-10-23 22:37] Crazy8ball commented on #324
I'll take a look at this issue.

[2019-10-23 22:39] Crazy8ball commented on #302
Will look into setting up the solution so that it can be built outside of Unity, I made these changes and thanks for bringing this up.

[2019-10-26 11:41] tarunkhatri opened #334 "The type or namespace name 'Networking' could not be found"
I am trying to make linux executable headless server file but i am facing this error -
**"The type or namespace name 'Networking' could not be found (are you missing a using directive or an assembly reference?)"**

I am using Unity 2018.4.9 Personal edition. I have successfully made Moving Cube example but not able to make Linux Server file. Please help me.

My Code

`using UnityEngine;
using Bear

[2019-10-26 13:47] NFMynster commented on #334
Seems like you have looked at the old docs. the Networking.Host etc is from Forge Classic. Have a look at the wiki on this repository to get started.
Also, please join the Discord if you like, as that's were most realtime support happens

[2019-10-27 18:18] JesusLuvsYooh opened #335 "Version number of forge remastered."
Hi, i have got and tried the Unity Forge remastered from a few areas online, Unity store, this Git, and the 'nightly builds' unity package.
The version numbers for it in - Window / Forge Networking / About, all say different, this Git, even though parts have been updated recently, says 2018 in the about section.

My question is, how do i know which is 'true' latest version?
Thank you.

[2019-10-27 18:34] phalasz commented on #335
Sorted on discord.

[2019-10-27 18:34] #335 closed

[2019-10-30 11:01] JesusLuvsYooh opened #336 "Joining players over ServerBrowser acts differently to joining over MultiplayerMenu scene."
### Version Number and Operating System(s):
Latest Unity 2019, Forge Remastered Git

###:
Using the default 3 scenes provided, unchanged, except for IP's.
2 builds/projects, one to host, and one to view hosts, both go to lobby.
Connecting between MultiplayerMenu builds to the lobby scene works, but not when using ServerBrowser.

Add yours/mine (if requested) master server and nat IP on the canvas/

[2019-11-01 10:44] XeviaN360 commented on #265
I tested it on some android devices, with Unity 2019.2.10f1. The build is failing on some devices (Oculus Quest) and is working on others (Galaxy Note 8 for example). Problem is the NetworkInterface.GetAllNetworkInterfaces() throw an exception: "Unable to find libc".

[2019-11-01 11:09] phalasz commented on #265
For Android issues please see PR #304

[2019-12-29 21:15] #334 closed

[2019-12-29 21:16] phalasz commented on #309
No activity since august. closing issue.

[2019-12-29 21:16] #309 closed

[2019-12-29 21:18] phalasz commented on #317
@LijpeLynn is this issue happening because not all network object arrays in the networkmanager have a prefab assigned?

[2019-12-29 21:22] phalasz commented on #282
Closing do to inactivity.

[2019-12-29 21:22] #282 closed

[2019-12-29 21:23] phalasz commented on #262
Closing due to inactivity.

[2019-12-29 21:23] #262 closed

[2019-12-30 00:09] phalasz commented on #264
I ran into this issue as well with cone server and multiple clients running on the same machine. Force disconnect (run on application quit) seems to be causing this. Will double check whether it affects clients on different machines.

[2019-12-30 17:19] phalasz commented on #264
Investigating this further, the code on the develop branch waits for a timeout on the player disconnecting when the app is closed while the master branch code immediatelly disconnects. Both examples using the CubeForge example.

[2019-12-30 20:49] phalasz commented on #264
Interestingly I'm seeing a WSACancelBlockingCall exception on the client read thread after the client disconnects. Might be a red herring though :thinking:

[2019-12-30 22:33] phalasz commented on #264
So to summarise what I am experiencing with latest develop branch:

If with multiple clients on the same machine connected to the server on the same machine. One client disconnects (eg.: close application which will call `UDPClient.Disconnect(false)`) the connection closed message is never sent to the server, instead there will be an exception on the client's read thread (https://github.com/Bearde

[2019-12-31 17:35] phalasz commented on #264
Looks like this commit (f5fbbb832b158fd3648194b0933213a82d726ed5) breaks the client disconnection. The commit before it works (after the two minor fixes of removinf an #endif and adding a missing #region)

[2020-02-03 23:20] Yooooomi commented on #317
Still happening with me, exact same behaviour

[2020-02-04 13:35] phalasz commented on #317
could you share a project that reproduces the issue please?

[2020-02-04 14:20] Yooooomi commented on #317
Here: https://drive.google.com/open?id=1CEej6B8XxVIcV5p-uGfRL6cGutFgFAcs

[2020-02-04 16:13] LijpeLynn commented on #317
I solved the problem

[2020-02-21 16:12] k77torpedo commented on #314
This feature is usually used to reduce overall networking-load by reducing the amount of packets that need to be send based on proximity. From my perspective tho it clashes a bit with this Networking Library as Forge instantiates everything automatically so the client always will have at least ALL `NetworkBehaviors` instantiated fully and only after that does the current Proximity-Feature reduce t

[2020-02-24 15:21] phalasz commented on #314
Happy for you to make those changes @k77torpedo 😉

[2020-03-02 18:11] phalasz commented on #324
@Crazy8ball would you be able to have a look at this please?

[2020-03-02 18:14] phalasz commented on #264
Should we just add a little wait in there to allow the message to be sent? Like when stepping through the disconnect code it is slower?

[2020-03-08 12:04] F4bsl opened #343 "Is it possible to set up a Database like MySQL with Forge?"
Sorry this is probably the wrong section but i don't know where to ask for this ^^. Do you know if its possible to connect the Forge Server with a database? And if so can you maybe give some quick tips to make it secure? Or should i just connect unity directly with the database? I've found some good tutorials on that topic. But how will the connection with the server work? I know this is a noob qu

[2020-03-08 13:22] tommohawkaction commented on #343
Hi F4bsl, yeah this is the wrong place, in future jump on our discord and ask in the #beginners-questions/#networking-questions.

Think of Forge as a communication system, so yes you can set up a database like mysql with Forge as it has no relation with Forge. All you need to do is setup the MySQL database and then use it as you would normally.

That being said, security. So all depends on how you

[2020-03-08 13:41] #343 closed

[2020-03-08 13:52] F4bsl commented on #343
Ok thanks a lot :) this really helps me and is also ensuring im going in the right direction. And sorry again for the being in wrong section.

[2020-03-25 20:35] TheLogan opened #345 "Null reference exception in lobby scene"
### Version Number and Operating System(s):
v26, windows 10

### Expected behavior:
null reference exception should not be cast

### Actual behavior:
null reference is cast

### Steps to reproduce:
open the lobby scene and click play

### additional
Essentially what's happening is that the LobbyManager.cs is relying on there being a NetworkManager.cs in the scene, there isn't one. And the get func

[2020-03-25 21:45] phalasz commented on #345
You still need to start from the multiplayer menu to set everything up.

[2020-03-26 11:36] TheLogan commented on #345
Doh, yeah I see that now. Thanks for the response :)

[2020-03-26 11:36] #345 closed

[2020-04-03 16:17] Funnyguy77 opened #348 "NAT Server not functioning properly."
### Version Number and Operating System(s):
Unity 2019.2.21f1 - Latest NAT server build from Git.
Windows Server 2016 Datacenter (10.0.14393 Build 14393) Running on AWS EC2 instance. (t2.medium | us-east-1d)

### Summary:
I'm currently running the included NAT server on  a Windows Server 2016 instance being hosted by AWS. Roughly 60% of the time the functionality is as you would expect, clients ca

[2020-04-14 00:31] Pandanym commented on #348
I seem to have the same problem.

After a few successful connections clients can't connect anymore and I have to restart natholepunch.exe

Some of my client can never connect though, but I'm unsure if that's a firewall problem on their part.

[2020-05-05 14:33] harleydk commented on #336
Same here. Somewhere in there the networkObject gets wrecked.

[2020-05-10 07:12] eusebiu opened #362 "[wiki] Basic Authentication possible fix"
### Version Number and Operating System(s):
master; Windows

### Expected behavior:
Get the correct data set from client.

### Actual behavior:
Exception in response.GetByteArray()

### Steps to reproduce:
1. create a client authenticator to send the data to server; set it before Connect()
[code]

2. create a server authenticator to read the data
[code]

Possible fix of VerifyResponse:
[code]

[2020-05-29 16:55] blapaz opened #367 "Players will not see already joined players when connecting to lobby system"
### Version Number and Operating System(s):
2019.3.6f & Windows 10

### Expected behavior:
When implementing the lobby system, all players should show in the lobby no matter if they join first, second, and so on. They should also then be shown for all clients whenever they choose to join the game from the lobby.

### Actual behavior:
Currently when implementing the lobby system, players that are i

[2020-06-24 10:06] Gwom opened #368 "Client loading Scene even though automaticScenes is false"
### Version Number and Operating System(s):
03/10/2018-19.53.38,04 Windows, Unity Editor 2019.2.21f1

### Expected behavior:
When the Server transitions to a new scene with automaticScenes set to false, the Cleint should not load a new Scene

### Actual behavior:
ReadBinary in the NetworkManager calls SceneManager.LoadScene (Async too) on the Client. As suggested by PHalasz [here](https://discord.

[2020-06-26 00:07] TonyViT commented on #367
This is a very annoying issue. A guy on Discord gave me some scripts that are a workaround on this, but I had to tweak them a bit to make them work. Otherwise, I discovered that a Thread.Sleep in the lobbyservice helps a lot with this problem

[2020-06-26 00:49] blapaz commented on #367
I added a fix for this issue loosely based on some snippets I received from @Persegan. This could be improved but this does allow the lobby system to work as expected and without the issue.

[2020-06-27 05:55] TonyViT commented on #367
Persegan gave me those fixes as well, but they have issues if you have many players because there are too many messages that get exchanged

[2020-06-27 18:01] blapaz commented on #367
I have not run into that issue even with that many and more players connecting. Although the way I use it, my players are not all connecting into the lobby at the same exact time.

[2020-06-27 18:10] blapaz commented on #367
I would have to look at the code again but I feel like instead of sending an RPC for every player already in the lobby, a RPC should be created to send all that info in one call. One RPC that sends all players already connected to the newly connected player.

[2020-06-27 21:54] TonyViT commented on #367
I'm going to investigate it next week for the program we are implementing, maybe if I find a solution, I can share it with the community. I will keep you posted!

[2020-06-29 19:12] TonyViT commented on #367
Hey @blapaz @Persegan I have improved the solution by Persegan:
- It now supports Custom names
- It sends only the necessary messages.

Now I have no endless loops anymore, even with 10-12 players!

My idea has been sending the messages of old players only to the last connecting user, and preventing the function to be called multiple times. Furthermore I've modified the RPC about players so now a

[2020-07-03 16:51] Gwom opened #370 "Windows Stand Alone Player returns null reference when you instantiate in Scene 0"
### Version Number and Operating System(s):
03/10/2018-19.53.38,04 Windows, Unity Editor 2019.2.21f1

### Expected behavior:
The Editor and Windows Stand Alone version behave the same, regardless of what i am doing, and it doesn't return null when making a network object

### Actual behavior:
The Windows player behaves differently than the editor, when i instantiate the chat object it returns null

[2020-07-03 17:08] phalasz commented on #370
I'm not sure I follow what you are describing here. Would you be able to provide a minimal project where I can see what you are trying to describe above.

Also proven reproduce steps would be much appreciated.

[2020-07-03 17:34] Gwom commented on #370
@phalasz unfortunately if make a project using basic steps it seems to not be reproducible so it must be some kind of conflict with my setup and slicing it out of the project would take quite a while. I quickly tried the following and the issue does not happen on Windows Player:

1. Make a project with the multiplayer scene
2. Turn off Automatic Scene on the NetworkManager prefab
3. Turn on DontCh

[2020-07-04 16:31] phalasz commented on #370
I personally haven't see an issue like this and without concrete steps that always reproduce the problem I will not be able to help.

[2020-07-07 11:44] Gwom opened #371 "Client in the objectCreated handler, getting a null AttachedBehavior"
### Version Number and Operating System(s):
03/10/2018-19.53.38,04 Windows, Unity Editor 2019.2.21f1

### Expected behavior:
objectCreated should be called after the AttachedBehaviour's GameObject is Setup / Passed Start() / NetworkStart(), if not, add a callback that is at this point and rename ObjectCreated - it may just be me but I assumed this should be done by the time this is called, maybe i

[2020-07-07 12:44] Gwom commented on #371
Info from @phalasz is that the [objectCreated listener](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blob/8e77ec38ddb6b1543a24161ed9a4204d6ce5e2f0/Forge%20Networking%20Remastered%20Unity/Assets/Bearded%20Man%20Studios%20Inc/Scripts/NetworkBehavior.cs#L41) is also used for the NetworkBind function, so AttachedBahaviour may not be there already. Would it be possible to ensure when

[2020-08-09 04:50] ehsanwwe opened #375 "ForgeNetworkingCommon.dll not found to build StandAloneServer"
hi
i open the repo upgrade it to .net4.5
everything is ok
but in the main CSPROJ (BeardedManStudios.csproj) i cant see any CS file every cs is missing so i cant build the ForgeNetworkingCommon.dll

------------------
if owner of this repo want to hide it please send me the dll file for starting my Server
thnx

[2020-08-10 22:00] phalasz commented on #375
As mentioned on discord please see https://github.com/BeardedManStudios/ForgeNetworkingRemastered/wiki/Modify-Master-and-Standalone-servers

[2020-08-10 22:00] #375 closed

[2020-08-10 22:02] phalasz commented on #368
I think this has been fixd on the develop branch.

[2020-08-10 22:19] phalasz commented on #362
First thing I noticed is you map a `0` then in verify response you try and get out a ulong. `0` != `0ul` when you are mapping it out as the first would map to 4 bytes while a ulong would map to 8 bytes.

So your example code should be written like this:
[code]

Then on the server:
[code]

[2020-08-10 22:56] phalasz commented on #265
2017 LTS is soon end of life.

[2020-08-10 22:56] #265 closed

[2020-08-10 22:57] #296 closed

[2020-08-11 05:33] eusebiu commented on #362
You are correct but:

If I change as you mention, I now get an OutOfMemoryException: response.GetBasicType<byte[]>() => at x = GetBasicType<int>(StartIndex(), true); // x gets a huge value

If I remove the steamid completely (since I do not use it), the data sent is not correctly retrieved (in my case it is an encrypted text and decryption does not recognize it).

So, there is an issue of 4 bytes

[2020-08-11 09:27] phalasz commented on #362
That is weird. Haven't seen that before and I have used byte[]s multiple times.

Just an fyi you should not touch `byteArr` as that is the internal array that might not be what you expect it to be. You can get out the correct byte[] by using `CompressBytes()`

[2020-08-11 09:49] eusebiu commented on #362
So, if I do  this on the client side:
[code]
and
`byte[] ticketBinary = response.CompressBytes();`
on server side, the data is not correctly retrieved...

[2020-08-11 10:56] phalasz commented on #362
Yes you are seeing the meta data in front. The first 4 bytes is the number of elements as an int in the array. Then you have the 9 elements.

Please use `byte[] ticketBinary = response.GetBasicType<byte[]>();`

[2020-08-11 11:18] eusebiu commented on #362
Mapping the string directly worked. Thanks! :)

[2020-08-11 11:18] #362 closed

[2020-09-06 12:54] scc172fly opened #376 "Unity 2019.3.15 IL2CPP Build Error!"
UnityException: Build path contains project built with Mono scripting backend, while current project is using IL2CPP scripting backend. Consider building your project into an empty directory.
UnityEditor.WindowsStandalone.WindowsDesktopStandalonePostProcessor.CheckSafeProjectOverwrite (UnityEditor.Modules.BuildPostProcessArgs args) (at C:/buildslave/unity/build/PlatformDependent/WinPlayer/Extensio

[2020-09-11 16:38] #376 closed

[2020-11-20 10:00] tommrwatts commented on #302
I'm trying out Forge for a non-Unity server a Unity client, but am getting more and more confused the further I progress.

Alloy was ["released in 2020"](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/wiki/Forge-Networking-Alloy), implying this is the latest version, yet it is [located](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/wiki/Getting-Started-With-Alloy)

[2020-11-20 14:50] tommrwatts commented on #301
Removing the class seems to generate compiler errors for other classes that depend on it, but replacing `#if !UNITY_IOS` with `#if !UNITY_IOS && !WINDOWS_UWP` got the linking to work for me on UWP.

Hope this helps someone.

@NFMynster Could you clarify if the UWP-specific code was dropped because perhaps it is not necessary (anymore) or because UWP is really not supported anymore by Forge and usi

[2020-11-20 18:35] eusebiu commented on #301
@tommrwatts I am in the same situation - I also have to support UWP/Hololens2 and I managed to make the build work by simply removing all code where WINDOWS_UWP was mentioned and basically use only the Mono/.NET code.
But, unfortunately, it is not working - I don't really understand why but I am not an expert on UWP.

[2020-11-22 16:29] JacobChrist commented on #302
These videos are a year old, but is looks to me like Alloy is meant to play a little different roll than ForgeNetworkingRemastered:

https://www.youtube.com/watch?v=qsJZ4Tc-_tc&list=PLm1w78-UUlMI2oX8tlXFnBAT8oj06GMgN

As far as updating the code in unity, just clone the latest then copy over to your unity project.  This is helpful incase you need to modify any of the FNR code.  This way you can di

[2020-11-23 15:40] tommrwatts commented on #302
@JacobChrist Thanks for the information.

I'm also wondering: is it even possible to use Forge for an external server without Unity when you want to work with the "networked objects"?

I've spent the better of two days now puzzling together information from the docs and fighting with actual data synchronization and RPCs not being properly sent over the network. All complete examples appear to have

[2020-11-26 10:26] MrWatts-Anorak commented on #302
(Disclaimer:) I haven't gotten everything working yet and cannot confirm that "everything will work", but I can answer some of my own questions now, which will hopefully help someone and may provide a jump start for others reading this. :

* Yes, it is possible to use Forge in a stand-alone non-Unity C# project. I extracted the `Networking` folder for this, with a few minor caveats, see also above

[2020-11-26 15:03] MrWatts-Anorak opened #383 "SSL/TLS/Encryption support for TCP/UDP servers"
(Deleted the template because it's not a bug.)

I was wondering if it's possible, or otherwise planned, to support encryption between the server and the client using SSL/TLS or similar. I did some searching on the issue tracker, wiki, and in the codebase, but couldn't find anything related to this - apologies if I looked over it.

Forge already [supports authentication](https://github.com/BeardedM

[2020-11-30 09:08] MrWatts-Anorak opened #384 "BeardedMath.Lerp appears incorrect for generic types"
### Version Number and Operating System(s):
Windows 10, Forge Network Alloy (but the same problem appears to exist in Remastered).

### Expected behavior:
[`BeardedMath.Lerp` with some generic type](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/blob/master/Forge%20Networking%20Remastered%20Unity/Assets/Bearded%20Man%20Studios%20Inc/Scripts/Networking/BeardedMath.cs#L41), such as `

[2020-11-30 09:16] MrWatts-Anorak opened #385 "Forge Networking Alloy networking code cannot be used without Unity due to (unused) import"
### Version Number and Operating System(s):
Windows 10, Forge Network Alloy at da8e1295ae1d4fada3037740a4b30df679e4e395 (`develop`).

### Expected behavior:
The `ForgeNetworkingRemastered/ForgeUnity/Assets/BeardedManStudios/Scripts/Networking/Forge/Networking` folder is usable in stand-alone non-Unity projects.

### Actual behavior:
It is not, due to Unity imports being referenced.

### Steps to r

[2020-11-30 10:07] MrWatts-Anorak opened #389 "Heads up: ConcurrentQueue.TryDequeue hides member in (at least) .NET 5.0"
### Version Number and Operating System(s):
Windows 10, Forge Network Alloy at da8e1295ae1d4fada3037740a4b30df679e4e395 (`develop`).

### Expected behavior:
No warnings are shown during build.

### Actual behavior:
Warnings are shown during build:

[code]

### Steps to reproduce:
Use Forge Networking Alloy in a .NET 5.0 project, i.e. copy-paste the `ForgeNetworkingRemastered/ForgeUnity/Assets/Bear

[2021-01-05 09:09] MrWatts-Anorak opened #398 "Consider adding relevant network object to RpcArgs"
### Version Number and Operating System(s):
Windows 10, Forge Network Alloy at da8e129 (develop).

### Expected behavior:
Easy way to access relevant network object RPC was invoked on from `RpcArgs` (or `RpcArgs.RPCInfo`).

This is a fairly minor thing, since RPC handlers exist in the network object to begin with, grabbing `networkObject` inside the behavior object is fairly easy to do to work aro

[2021-02-05 22:45] TheYellowArchitect commented on #398
`The reason I'm asking is because during refactoring one may create different classes to handle specific RPCs, which then need to be passed not only the RpcArgs, but also the relevant NetworkObject. This results in a so-called data clump.`
Could you give an elaborate example? Because I cannot think of a use-case like this

Slightly off-topic: How big is a NetworkObject in byte size?

[2021-02-08 12:39] MrWatts-Anorak commented on #398
Sure! An example: I have a network object A supporting an RPC `InitiateTransfer`, and I create a class `InitiateTransferRpcHandler` (possibly implementing an `IRpcHandler`), with one method `Handle(RpcArgs args)`. Nothing too fancy.

This separates the responsibility of handling the RPC from the network object itself, which is especially useful if it has many RPCs, keeps concerns separated, and al

[2021-04-10 15:10] TheYellowArchitect opened #401 "STEAMWORKS define symbol causes bugs"
### Version Number and Operating System(s):
Windows 7 x64
Unity 2018.1.1f1
Forge version 3/10/18 - 19.53.38,04 (master)

### Expected behavior:
CSteamId and Callback, existing, do not make any compile errors

### Actual behavior:
When I put STEAMWORKS define symbol and Unity detects it, alongside the IDE, I get a bunch of errors, as it seems SteamAPI can not be read properly or whatever

### Steps

[2021-04-10 15:37] TheYellowArchitect commented on #401
ok, tl;dr: Steamworks.Facepunch is incompatible with Forge, since BaseSteamP2P and other classes, use Steamworks.NET variables

[2021-04-10 15:37] #401 closed

[2021-04-14 17:42] TheYellowArchitect opened #402 "RPCs broken at higher pings"
### Version Number and Operating System(s):
Windows 7 x64
Unity 2018.1.1f1
Forge Version 3/10/2018 - 19.53.38,04 (I downloaded it in 2021, it is the latest version of master branch)

### Expected behavior:
Ping increases, packets are delayed for half the ping distance
So, for a connection of 100 ping, latest packet sent by an RPC, has been received after ~50 ms

### Actual behavior:
Ping increases

[2021-04-19 19:40] TheYellowArchitect opened #403 "NetworkerStatistics.BandwidthInOut BREAKS at High Ping!"
### Version Number and Operating System(s):
Windows 7 x64
Unity 2018.1.1f1
Forge Version 3/10/2018 - 19.53.38,04 (I downloaded it in 2021, it is the latest version of master branch)

### Expected behavior:
Ping increases, bytes sent are the same, they are just delayed

### Actual behavior:
Ping increases, bytes sent are almost exponentially more

### Steps to reproduce:
I made a reproducible proje

[2021-04-19 19:45] TheYellowArchitect commented on #402
I found out what causes this. **All** my RPCs are reliable.
So, sending every 50 ms the position, causes client to send back confirmation or something. I cannot confirm what exactly caused the delay (100 ms delay having 1 second delay -_-) but it **definitely** has to do with RPC reliable/unreliable, simply because changing 1 line to unreliable, fixes the above issue.

As for the bytes received, i

[2021-07-28 20:02] FpardoLearning commented on #317
@LijpeLynn How you solved it?

[2021-07-30 20:06] LijpeLynn commented on #317
@FpardoLearning I fixed it by not having multiple NetworkBehaviors on one GameObject.

[2021-07-30 20:06] #317 closed

[2021-09-15 23:02] olgv opened #407 "No connection on iOS 14"
### Version Number and Operating System(s):
Unity 2019.4.30f1
macOS 11.4 with Xcode 12.5.1
iOS 14.8

### Expected behavior:
iOS application running as client used to connect to computer running as Server

### Actual behavior:
since iOS 14 the Unity app is not connecting anylonger

### Steps to reproduce:
I can share the project, though is a big one
As far as we got is to the point where Xcode repo

[2021-09-26 10:28] JamesMcGhee opened #408 "Wiki Documentation feedback"
The article located here
https://github.com/BeardedManStudios/ForgeNetworkingRemastered/wiki/Overview

Provides instructions for installing Steamworks.NET via the releases section. This would have the user install Steamworks.NET via the exported unity package which does not include the latest changes and does not include the Steamworks.NET assembly definitions.

You could simplify that article and

[2022-02-27 09:08] TheYellowArchitect commented on #408
Hello!

I wrote the Steamworks integration part of the wiki, and I have to admit it was a rushed job. The final part is especially indicative.
But when I returned to "polish" it, I noticed that the videos do a far better job than whatever I had planned to write, so I kept them as they are. Whatever I would write would be a text transcription of the video, so it just wasn't worth it.

Anyway, wiki

[2022-07-17 14:15] #408 closed

[2022-08-13 11:40] TheYellowArchitect commented on #402
Reopening because it has been confirmed by 2 more developers, who stumbled onto this bug (packets delaying even up to 30 seconds)

[2022-08-13 11:48] TheYellowArchitect opened #410 "Unstable Packets (all 4 bugs which make Forge unfitting for serious projects)"
The following bugs can be confirmed by me (developer of [Double Damnation](https://store.steampowered.com/app/1015190)), and Flamboozle (developer of [Sun Haven](https://store.steampowered.com/app/1432860/Sun_Haven/))

- [**Reliable RPCs flood the network with acks**](https://github.com/BeardedManStudios/ForgeNetworkingRemastered/issues/403)
Reliable RPCs flood the network with acks which never le